In [1]:
import sys

In [2]:
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

In [4]:
A = mg.load_dataset('table_A')

In [12]:
def fn(x):
    print x
    return True

In [13]:
A['is_zipcode'] = A.apply(fn, axis=1)

ID                                     a1
name                          Kevin Smith
birth_year                           1989
hourly_wage                            30
address        607 From St, San Francisco
zipcode                             94107
is_zipcode                          False
Name: 0, dtype: object
ID                                          a2
name                          Michael Franklin
birth_year                                1988
hourly_wage                               27.5
address        1652 Stockton St, San Francisco
zipcode                                  94122
is_zipcode                               False
Name: 1, dtype: object
ID                                         a3
name                           William Bridge
birth_year                               1986
hourly_wage                                32
address        3131 Webster St, San Francisco
zipcode                                 94107
is_zipcode                              False
Name: 2, dtype: object
ID                                       a4
name                           Binto George
birth_year                             1987
hourly_wage                            32.5
address        423 Powell St, San Francisco
zipcode                               94122
is_zipcode                            False
Name: 3, dtype: object
ID                                          a5
name                           Alphonse Kemper
birth_year                                1984
hourly_wage                                 35
address        1702 Post Street, San Francisco
zipcode                                  94122
is_zipcode                               False
Name: 4, dtype: object

In [19]:
A1 = A[A['zipcode'] == 94122]

In [20]:
A2 = A[A['zipcode'] != 94122]

In [21]:
A1 = mg.MTable(A1, key='ID')
A2 = mg.MTable(A2, key='ID')

In [22]:
A1

,ID,name,birth_year,hourly_wage,address,zipcode,is_zipcode
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122,True
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122,True
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122,True

In [15]:
type(A)

magellan.core.mtable.MTable

In [17]:
type(A[A.is_zipcode])

pandas.core.frame.DataFrame