In [1]:
import cython

In [2]:
%load_ext Cython
%load_ext autotime

In [3]:
import sys
sys.path.append('/Users/Pradap/Documents/Research/Python-Package/enrique/')
import magellan as mg
import re, string

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 514 ms

In [4]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

time: 97.7 ms

In [13]:
stop_words = ['a', 'an', 'and', 'are', 'as', 'at',
              'be', 'by', 'for', 'from',
              'has', 'he', 'in', 'is', 'it',
              'its', 'on', 'that', 'the', 'to',
              'was', 'were', 'will', 'with']
regex_punctuation = re.compile('[%s]'% re.escape(string.punctuation))
def rem_punctuations(s):
    return re.sub('[^A-Za-z0-9]+', ' ', s)

def rem_stopwords(ls):
    return [t for t in ls if t not in stop_words]

time: 4.71 ms

In [6]:
A = mg.load_dataset('table_A')

time: 3.27 ms

In [7]:
values = A['address'].values

time: 3.75 ms

In [8]:
l_attr_vals = [rem_punctuations(v) for v in values]
l_attr_vals = [v.lower() for v in l_attr_vals]

time: 3.06 ms

In [9]:
l_attr_vals

['607 from st san francisco',
 '1652 stockton st san francisco',
 '3131 webster st san francisco',
 '423 powell st san francisco',
 '1702 post street san francisco']

time: 2.9 ms

In [10]:
l_val_chopped = [v.split() for v in l_attr_vals]

time: 1.56 ms

In [14]:
l_val_chopped = [rem_stopwords(v) for v in l_val_chopped]

time: 1.09 ms

In [15]:
l_val_chopped

[['607', 'st', 'san'],
 ['1652', 'stockton', 'st', 'san'],
 ['3131', 'webster', 'st', 'san'],
 ['423', 'powell', 'st', 'san'],
 ['1702', 'post', 'street', 'san']]

time: 2.76 ms