In [1]:
%load_ext autotime

In [2]:
import sys
#sys.path.append('/scratch/pradap/python-work/enrique/')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

time: 1.07 ms

In [3]:
import magellan as mg
import pandas as pd

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 2.02 s

In [4]:
mg.init_jvm()

True

time: 96.9 ms

In [5]:
# Read walmart books data
wal =  mg.read_csv(mg.get_install_path()+'/datasets/books/walmart.csv',
                    dtype={'isbn':pd.np.str, 'pages':pd.np.str, 'volume':pd.np.str, 'editionNum':pd.np.str},  
                    low_memory=False, key='id')

time: 1.68 s

In [6]:
# Read bowker books data
bwk = mg.read_csv(mg.get_install_path()+'/datasets/books/bowker.csv', 
                  dtype={'isbn':pd.np.str, 'pages':pd.np.str, 'volume':pd.np.str, 'editionNum':pd.np.str},  
                  low_memory=False, key='id')

time: 66.6 ms

In [7]:
wal.describe()

,id,numAuthors,pubYear,pubMonth,pubDay
count,100000.000000,100000.000000,99987.000000,99987.000000,99987.000000
mean,10645636.986880,0.879040,2004.376669,6.452139,2.653295
std,6475136.803713,0.326082,38.334093,3.491075,6.260899
min,189746.000000,0.000000,1.000000,1.000000,1.000000
25%,4451952.500000,1.000000,2002.000000,3.000000,1.000000
50%,11086873.000000,1.000000,2008.000000,7.000000,1.000000
75%,15910933.000000,1.000000,2010.000000,9.000000,1.000000
max,23565516.000000,1.000000,2030.000000,12.000000,31.000000

time: 69.4 ms

In [8]:
bwk.describe()

                 id   numAuthors      pubYear     pubMonth       pubDay
count  9.999000e+03  9999.000000  9759.000000  8665.000000  4301.000000
mean   9.780136e+12     1.107611  1998.084845     4.106982    14.077191
std    6.592547e+07     0.754675    12.235594     3.055992     9.939940
min    9.780000e+12     0.000000  1899.000000     0.000000     1.000000
25%    9.780071e+12     1.000000  1991.000000     1.000000     4.000000
50%    9.780140e+12     1.000000  2001.000000     3.000000    14.000000
75%    9.780200e+12     1.000000  2009.000000     8.000000    23.000000
max    9.780230e+12     5.000000  2014.000000     9.000000    31.000000

time: 28.3 ms

In [ ]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(wal, bwk, 'title', 'title', 
                    ['title', 'author', 'isbn'], ['title', 'author', 'isbn'])

In [63]:
len(C)

599

time: 2.05 ms

In [64]:
D = mg.sample_table(C, 350)

time: 4.57 ms

In [65]:
D['label'] = 0

time: 1.59 ms

In [69]:
sum(C['rtable.isbn'] == C['ltable.isbn'])

18

time: 5.39 ms

In [10]:
D = mg.sample_table(C, 50)

time: 2.84 ms

In [11]:
L = mg.read_csv('label_table_demo_books.csv', ltable=wal, rtable=bwk)

time: 4.57 ms

In [12]:
feature_table = mg.get_features_for_matching(wal, bwk)

WARNING:magellan.feature.autofeaturegen:editionNum type and editionNum type are different
WARNING:magellan.feature.autofeaturegen:pages type and pages type are different
WARNING:magellan.feature.autofeaturegen:volume type and volume type are different

time: 3.81 s

In [13]:
# select a subset of matchers
f = feature_table.ix[[3,7,18,26, 53]]

time: 2.29 ms

In [14]:
# Extract feature vectors
G = mg.extract_feat_vecs(L, feature_table=f, attrs_after='gold')

time: 426 ms

In [15]:
G.head(10)

,_id,ltable.id,rtable.id,title_title_jac_qgm_3_qgm_3,author_author_jac_qgm_3_qgm_3,binding_binding_jac_qgm_3_qgm_3,publisher_publisher_jac_qgm_3_qgm_3,lang_lang_lev,gold
0,0,4086892,9780226156439,0.785714,1.000000,0,0.518519,1,1
1,1,535599,9780060655808,0.222222,1.000000,0,0.320000,1,1
2,2,1386538,9780130901262,1.000000,0.785714,1,0.733333,1,1
3,3,15280600,9780217455008,0.720000,0.666667,1,1.000000,1,1
4,4,15286798,9780217825382,1.000000,1.000000,1,1.000000,1,1
5,5,15295588,9780217940207,0.308271,0.695652,1,0.083333,1,0
6,6,15334872,9780217270052,1.000000,1.000000,1,1.000000,1,1
7,7,15338150,9780217304399,0.280702,1.000000,1,1.000000,1,1
8,8,1566948,9780070479081,0.822222,0.260870,1,0.303030,1,1
9,9,4564015,9780080446837,1.000000,NaN,1,0.512821,1,0

time: 28.7 ms

In [16]:
help(mg.impute_table)

Help on function impute_table in module magellan.utils.helperfunctions:

impute_table(table, exclude_attrs=None, missing_val='NaN', strategy='mean', axis=0, val_all_nans=0)

time: 2.68 ms

In [17]:
H = mg.impute_table(G, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'])

time: 10.1 ms

In [18]:
H.head(10)

,_id,ltable.id,rtable.id,title_title_jac_qgm_3_qgm_3,author_author_jac_qgm_3_qgm_3,binding_binding_jac_qgm_3_qgm_3,publisher_publisher_jac_qgm_3_qgm_3,lang_lang_lev,gold
0,0,4086892,9780226156439,0.785714,1.000000,0,0.518519,1,1
1,1,535599,9780060655808,0.222222,1.000000,0,0.320000,1,1
2,2,1386538,9780130901262,1.000000,0.785714,1,0.733333,1,1
3,3,15280600,9780217455008,0.720000,0.666667,1,1.000000,1,1
4,4,15286798,9780217825382,1.000000,1.000000,1,1.000000,1,1
5,5,15295588,9780217940207,0.308271,0.695652,1,0.083333,1,0
6,6,15334872,9780217270052,1.000000,1.000000,1,1.000000,1,1
7,7,15338150,9780217304399,0.280702,1.000000,1,1.000000,1,1
8,8,1566948,9780070479081,0.822222,0.260870,1,0.303030,1,1
9,9,4564015,9780080446837,1.000000,0.820528,1,0.512821,1,0

time: 23.6 ms

In [19]:
# Create ML matchers
dt = mg.DTMatcher(name='DecisionTree', random_state=0)
svm = mg.SVMMatcher()
rf = mg.RFMatcher(name='RF', random_state=0)
nb = mg.NBMatcher(name='NB')
lg = mg.LogRegMatcher(name='LogReg')
ln = mg.LinRegMatcher(name='LinReg')

time: 4 ms

In [20]:
# select the best ML matcher using CV
result = mg.select_matcher([dt, rf, svm, nb, lg], table=H, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='f1')

time: 99.3 ms

In [21]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.800000,0.666667,0.500000,0.875000,0.823529,0.733039
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.941176,0.833333,0.500000,0.888889,0.714286,0.775537
2,SVM_25979111645887246441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.888889,0.888889,0.823529,0.750000,0.823529,0.834967
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.888889,0.727273,0.571429,0.769231,0.750000,0.741364
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.947368,0.666667,0.823529,0.875000,0.800000,0.822513

time: 23.3 ms

In [22]:
G=H

time: 870 µs

In [23]:
train_test = mg.train_test_split(G, train_proportion=0.7, random_state=0)
train = train_test['train']
test = train_test['test']

time: 5.13 ms

In [24]:
# mg.vis_debug_dt(dt, train, test, 
#         exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
#         target_attr='gold')

time: 964 µs

In [25]:
mg.vis_debug_rf(rf, train, test, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold')

time: 10min 54s

In [26]:
H = mg.extract_feat_vecs(L, feature_table=feature_table, attrs_after='gold')

time: 722 ms

In [27]:
H = mg.impute_table(H)

time: 52.7 ms

In [28]:
H

,_id,ltable.id,rtable.id,id_id_exm,id_id_anm,id_id_lev,title_title_jac_qgm_3_qgm_3,title_title_cos_dlm_dc0_dlm_dc0,title_title_mel,title_title_lev,...,lang_lang_swg,editionDescr_editionDescr_jac_qgm_3_qgm_3,editionDescr_editionDescr_cos_dlm_dc0_dlm_dc0,editionDescr_editionDescr_jac_dlm_dc0_dlm_dc0,editionDescr_editionDescr_mel,editionDescr_editionDescr_lev,editionDescr_editionDescr_nmw,editionDescr_editionDescr_sw,editionDescr_editionDescr_swg,gold
0,0,4086892,9.780226e+12,0,0,0.153846,0.785714,0.714286,0.763158,0.878049,...,1,1,1,1,1,1,1,1,1,1
1,1,535599,9.780061e+12,0,0,0.153846,0.222222,0.192450,0.833333,0.294118,...,1,1,1,1,1,1,1,1,1,1
2,2,1386538,9.780131e+12,0,0,0.153846,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
3,3,15280600,9.780217e+12,0,0,0.230769,0.720000,0.789352,1.000000,0.783784,...,1,1,1,1,1,1,1,1,1,1
4,4,15286798,9.780218e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
5,5,15295588,9.780218e+12,0,0,0.153846,0.308271,0.494872,1.000000,0.286667,...,1,1,1,1,1,1,1,1,1,0
6,6,15334872,9.780217e+12,0,0,0.153846,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
7,7,15338150,9.780217e+12,0,0,0.153846,0.280702,0.235702,1.000000,0.285714,...,1,1,1,1,1,1,1,1,1,1
8,8,1566948,9.780070e+12,0,0,0.153846,0.822222,0.750000,0.700000,0.888889,...,1,1,1,1,1,1,1,1,1,1
9,9,4564015,9.780080e+12,0,0,0.076923,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,0
10,10,5514791,9.780115e+12,0,0,0.153846,0.878049,0.730297,0.625000,0.975610,...,1,1,1,1,1,1,1,1,1,0
11,11,5681971,9.780073e+12,0,0,0.153846,0.807018,0.881917,1.000000,0.790323,...,1,1,1,1,1,1,1,1,1,1
12,12,6000607,9.780061e+12,0,0,0.307692,0.934211,0.889499,0.623377,0.987179,...,1,1,1,1,1,1,1,1,1,1
13,13,7809485,9.780152e+12,0,0,0.230769,0.739130,0.750000,1.000000,0.954545,...,1,1,1,1,1,1,1,1,1,1
14,14,4082544,9.780071e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
15,15,5087512,9.780028e+12,0,0,0.230769,0.534483,0.338062,0.750000,0.596491,...,1,1,1,1,1,1,1,1,1,1
16,16,515921,9.780140e+12,0,0,0.076923,0.433333,0.353553,1.000000,0.468750,...,1,1,1,1,1,1,1,1,1,0
17,17,17800413,9.780061e+12,0,0,0.384615,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
18,18,19747771,9.780218e+12,0,0,0.230769,0.875000,0.904534,1.000000,0.929577,...,1,1,1,1,1,1,1,1,1,1
19,19,22922094,9.780078e+12,0,0,0.076923,0.015385,0.000000,0.228571,0.309524,...,1,1,1,1,1,1,1,1,1,1
20,20,2351244,9.780226e+12,0,0,0.153846,0.919355,0.801784,0.557377,0.983871,...,1,1,1,1,1,1,1,1,1,0
21,21,2524032,9.780198e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,0
22,22,3618742,9.780061e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
23,23,10082209,9.780007e+12,0,0,0.230769,0.864865,0.730297,0.722222,0.972973,...,1,1,1,1,1,1,1,1,1,1
24,24,10865895,9.780153e+12,0,0,0.230769,0.204819,0.258199,0.411765,0.241758,...,1,1,1,1,1,1,1,1,1,0
25,25,13907045,9.780195e+12,0,0,0.153846,0.732558,0.804030,0.546667,0.778947,...,1,1,1,1,1,1,1,1,1,0
26,26,1490720,9.780029e+12,0,0,0.230769,0.698795,0.727273,0.850704,0.846154,...,1,1,1,1,1,1,1,1,1,1
27,27,15348586,9.780218e+12,0,0,0.153846,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
28,28,15368811,9.780217e+12,0,0,0.153846,0.852941,0.771517,1.000000,0.861111,...,1,1,1,1,1,1,1,1,1,1
29,29,10240412,9.780200e+12,0,0,0.153846,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
30,30,14022273,9.780217e+12,0,0,0.307692,0.408759,0.674200,1.000000,0.406667,...,1,1,1,1,1,1,1,1,1,1
31,31,14022804,9.780218e+12,0,0,0.230769,0.791667,0.714286,0.966667,0.958333,...,1,1,1,1,1,1,1,1,1,1
32,32,14028323,9.780218e+12,0,0,0.230769,0.421053,0.666667,1.000000,0.439024,...,1,1,1,1,1,1,1,1,1,1
33,33,15283778,9.780218e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
34,34,15305465,9.780217e+12,0,0,0.153846,0.298246,0.267261,1.000000,0.322034,...,1,1,1,1,1,1,1,1,1,1
35,35,15307220,9.780218e+12,0,0,0.230769,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,0
36,36,15328882,9.780217e+12,0,0,0.230769,0.680000,0.755929,1.000000,0.696429,...,1,1,1,1,1,1,1,1,1,1
37,37,15772172,9.780062e+12,0,0,0.076923,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,0
38,38,1581211,9.780202e+12,0,0,0.230769,0.919355,0.858116,0.523810,0.984375,...,1,1,1,1,1,1,1,1,1,1
39,39,15912308,9.780078e+12,0,0,0.076923,0.709677,0.821584,0.744361,0.733333,...,1,1,1,1,1,1,1,1,1,0
40,40,10722263,9.780195e+12,0,0,0.230769,0.833333,0.670820,0.689655,0.966667,...,1,1,1,1,1,1,1,1,1,1
41,41,10948704,9.780131e+12,0,0,0.230769,0.333333,0.201008,0.306122,0.578125,...,1,1,1,1,1,1,1,1,1,0
42,42,13433980,9.780206e+12,0,0,0.076923,0.411765,0.481125,0.660714,0.608696,...,1,1,1,1,1,1,1,1,1,1
43,43,14022189,9.780217e+12,0,0,0.230769,0.926829,0.801784,1.000000,0.934783,...,1,1,1,1,1,1,1,1,1,1
44,44,15289952,9.780217e+12,0,0,0.153846,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,1
45,45,15350595,9.780218e+12,0,0,0.076923,0.274336,0.433861,1.000000,0.257812,...,1,1,1,1,1,1,1,1,1,1
46,46,15358361,9.780217e+12,0,0,0.076923,1.000000,1.000000,1.000000,1.000000,...,1,1,1,1,1,1,1,1,1,0
47,47,15359574,9.780217e+12,0,0,0.153846,0.936170,0.948683,1.000000,0.921569,...,1,1,1,1,1,1,1,1,1,1
48,48,15373263,9.780217e+12,0,0,0.153846,0.969697,0.960769,1.000000,0.943662,...,1,1,1,1,1,1,1,1,1,1
49,49,16938827,9.780230e+12,0,0,0.230769,0.901961,0.824958,0.720000,0.980392,...,1,1,1,1,1,1,1,1,1,0

time: 243 ms

In [29]:
# select the best ML matcher using CV
result = mg.select_matcher([dt, rf, svm, nb, lg], table=G, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='precision')

time: 74.2 ms

In [30]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.666667,0.888889,0.666667,0.875000,0.800000,0.779444
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.777778,0.666667,0.888889,0.777778,0.833333,0.788889
2,SVM_25979111645887246441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.800000,0.600000,0.500000,0.900000,0.800000,0.720000
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.714286,0.857143,0.800000,0.625000,0.875000,0.774286
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.888889,0.750000,0.800000,0.700000,0.500000,0.727778

time: 20.6 ms

In [31]:
# Split G into development and test
development_test = mg.train_test_split(G, train_proportion=0.6, 
                                       random_state=0)
development = development_test['train']
test = development_test['test']

time: 5.38 ms

In [32]:
# First check, how does DT performs with out any triggers
# Train using development
dt.fit(table=development, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold')

time: 7.49 ms

In [33]:
# Test using test
I = dt.predict(table=test, 
              exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
              target_attr='predicted',
              append=True, inplace=False)

time: 15.2 ms

In [34]:

eval_summary = mg.eval_matches(I, 'gold', 'predicted')

time: 13.4 ms

In [35]:
eval_summary

OrderedDict([('prec_numerator', 13.0), ('prec_denominator', 14.0), ('precision', 0.9285714285714286), ('recall_numerator', 13.0), ('recall_denominator', 17.0), ('recall', 0.7647058823529411), ('f1', 0.8387096774193549), ('pred_pos_num', 14.0), ('false_pos_num', 1.0), ('false_pos_ls', [(15307220, 9780217970747)]), ('pred_neg_num', 6.0), ('false_neg_num', 4.0), ('false_neg_ls', [(3618742, 9780060837563), (1490720, 9780029066850), (1386538, 9780130901262), (4082544, 9780071451574)])])

time: 3.26 ms

In [36]:
train_validation = mg.train_test_split(development, train_proportion=0.5, random_state=10)
# mg.vis_debug_dt(dt, train_validation['train'], train_validation['test'], 
#                exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
#                target_attr='gold')

time: 4.93 ms

In [37]:
# Add triggers to address false negatives
# if authors match exactly then declare match
pos_trigger = mg.MatchTrigger()
pos_trigger.add_cond_rule('author_author_lev(ltuple, rtuple) == 1', 
                          feature_table=feature_table)
pos_trigger.add_cond_status(True)
pos_trigger.add_action(1)

True

time: 5.74 ms

In [51]:
res = mg.cv_matcher_and_trigger(dt, [pos_trigger], G,
                         exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                         target_attr='gold', metric=None, random_state=0)

0%  100%
[#####] | ETA[sec]: 0.000

time: 2.42 s

Total time elapsed: 2.408 sec

In [52]:
res['cv_stats']

,Metric,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,precision,5,1.000000,0.900000,0.875000,0.666667,0.666667,0.821667
1,recall,5,0.875000,1.000000,1.000000,1.000000,1.000000,0.975000
2,f1,5,0.933333,0.947368,0.933333,0.800000,0.800000,0.882807

time: 12.7 ms

In [55]:
res = mg.cv_matcher_and_trigger(dt, [pos_trigger, pos_trigger], G,
                         exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                         target_attr='gold', metric=None, random_state=0)

0%  100%
[#####] | ETA[sec]: 0.000

time: 4.56 s

Total time elapsed: 4.551 sec

In [56]:
res['cv_stats']

,Metric,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,precision,5,1.000000,0.900000,0.875000,0.666667,0.666667,0.821667
1,recall,5,0.875000,1.000000,1.000000,1.000000,1.000000,0.975000
2,f1,5,0.933333,0.947368,0.933333,0.800000,0.800000,0.882807

time: 14.3 ms