In [2]:
%load_ext autotime

In [3]:
import sys

time: 815 µs

In [4]:
sys.path.append('/Users/Pradap/Documents/Research/Python-Package/enrique')

time: 1.06 ms

In [5]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 633 ms

In [6]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

time: 84.4 ms

In [7]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 5.99 ms

In [15]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', 'zipcode', 'zipcode')

time: 8.41 ms

In [20]:
k1 = C[['ltable.zipcode']]
k2 = C[['rtable.zipcode']]

time: 2.35 ms

In [26]:
import numpy as np

time: 721 µs

In [29]:
k1a = np.array(k1)
k2a = np.array(k2)

time: 1.19 ms

In [33]:
all(k1a == k2a)

True

time: 2.49 ms

In [34]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 15.3 ms

In [35]:
B

,ID,name,birth_year,hourly_wage,address,zipcode
0,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107
1,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
2,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
3,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122
4,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122
5,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107

time: 17 ms