In [1]:
import sys

In [2]:
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

In [3]:
import magellan as mg

In [4]:
A = mg.load_dataset('table_A')

In [5]:
B = mg.load_dataset('table_B')

In [6]:
feat_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

In [7]:
mg.init_jvm()

True

In [8]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

In [9]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

In [10]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x10a383cf8>,from magellan.feature.simfunctions import *\nf...
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x10a383d70>,from magellan.feature.simfunctions import *\nf...
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x10a383de8>,from magellan.feature.simfunctions import *\nf...
3,ID_ID_sdx,ID,ID,None,None,soundex,<function ID_ID_sdx at 0x10a383e60>,from magellan.feature.simfunctions import *\nf...
4,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x10a383ed8>,from magellan.feature.simfunctions import *\nf...
5,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x10a383f50>,from magellan.feature.simfunctions import *\nf...
6,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x10a3a...,from magellan.feature.simfunctions import *\nf...
7,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...
8,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...
9,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x10a3a81b8>,from magellan.feature.simfunctions import *\nf...
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x10a3a8230>,from magellan.feature.simfunctions import *\nf...
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x10a3a82a8>,from magellan.feature.simfunctions import *\nf...
12,name_name_swg,name,name,None,None,smith_waterman_gotoh,<function name_name_swg at 0x10a3a8320>,from magellan.feature.simfunctions import *\nf...
13,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x10a3a...,from magellan.feature.simfunctions import *\nf...
14,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x10a3a...,from magellan.feature.simfunctions import *\nf...
15,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x10a3a...,from magellan.feature.simfunctions import *\nf...
16,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x10a...,from magellan.feature.simfunctions import *\nf...
17,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x10a...,from magellan.feature.simfunctions import *\nf...
18,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x10a...,from magellan.feature.simfunctions import *\nf...
19,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x10a3a8668>,from magellan.feature.simfunctions import *\nf...
20,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x10a3a86e0>,from magellan.feature.simfunctions import *\nf...
21,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x10a3a8758>,from magellan.feature.simfunctions import *\nf...

In [12]:
x = [10, 13, 16, 20]

In [13]:
feat_table = feat_table.ix[x]

In [14]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x10a3a8230>,from magellan.feature.simfunctions import *\nf...
13,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x10a3a...,from magellan.feature.simfunctions import *\nf...
16,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x10a...,from magellan.feature.simfunctions import *\nf...
20,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x10a3a86e0>,from magellan.feature.simfunctions import *\nf...

In [17]:
S = mg.sample_one_table(C, 15)

In [18]:
L = mg.label(S, 'label')

In [21]:
S_prime = mg.extract_feat_vecs(L, attrs_after='label', feat_table=feat_table)

In [23]:
dt = mg.DTMatcher()

In [26]:
dt.fit(table=S_prime, exclude_attrs=['_id', 'ltable.ID', 'rtable.ID'], target_attr='label')

After fitting

In [29]:
import os
import subprocess

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [30]:
def visualize_tree(tree, feature_names):
    """Create tree png using graphviz.

    Args
    ----
    tree -- scikit-learn DecsisionTree.
    feature_names -- list of feature names.
    """
    with open("dt.dot", 'w') as f:
        export_graphviz(tree, out_file=f,
                        feature_names=feature_names)

    command = ["dot", "-Tpng", "dt.dot", "-o", "dt.png"]
    try:
        subprocess.check_call(command)
    except:
        exit("Could not run dot, ie graphviz, to "
             "produce visualization")

In [33]:
visualize_tree(dt.clf,list(feat_table['feature_name']))

In [34]:
def get_code(tree, feature_names, target_names,
             spacer_base="    "):
    """Produce psuedo-code for decision tree.

    Args
    ----
    tree -- scikit-leant DescisionTree.
    feature_names -- list of feature names.
    target_names -- list of target (class) names.
    spacer_base -- used for spacing code (default: "    ").

    Notes
    -----
    based on http://stackoverflow.com/a/30104792.
    """
    left      = tree.tree_.children_left
    right     = tree.tree_.children_right
    threshold = tree.tree_.threshold
    features  = [feature_names[i] for i in tree.tree_.feature]
    value = tree.tree_.value

    def recurse(left, right, threshold, features, node, depth):
        spacer = spacer_base * depth
        if (threshold[node] != -2):
            print(spacer + "if ( " + features[node] + " <= " + \
                  str(threshold[node]) + " ) {")
            if left[node] != -1:
                    recurse(left, right, threshold, features,
                            left[node], depth+1)
            print(spacer + "}\n" + spacer +"else {")
            if right[node] != -1:
                    recurse(left, right, threshold, features,
                            right[node], depth+1)
            print(spacer + "}")
        else:
            target = value[node]
            for i, v in zip(np.nonzero(target)[1],
                            target[np.nonzero(target)]):
                target_name = target_names[i]
                target_count = int(v)
                print(spacer + "return " + str(target_name) + \
                      " ( " + str(target_count) + " examples )")

    recurse(left, right, threshold, features, 0, 0)

In [36]:
get_code(dt.clf, list(feat_table['feature_name']), ['Match', 'Non-Match'])

if ( hourly_wage_hourly_wage_exm <= 0.5 ) {
    return Match ( 12 examples )
}
else {
    return Non-Match ( 3 examples )
}