In [1]:
import sys

In [2]:
#sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')
sys.path.append('C:/Pradap/Research/Python-Packages/enrique/')

In [3]:
import magellan as mg

In [4]:
A = mg.load_dataset('table_A')

In [5]:
B = mg.load_dataset('table_B')

In [6]:
feat_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

In [7]:
import jpype

In [8]:
jpype.getDefaultJVMPath()

u'C:\\Program Files\\Java\\jre7\\bin\\client\\jvm.dll'

In [9]:
mg.init_jvm('C:\\Program Files\\Java\\jre7\\bin\\server\\jvm.dll')

True

In [10]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

In [11]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

In [12]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x000000001B008A58>,from magellan.feature.simfunctions import *\nf...
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x000000001B008978>,from magellan.feature.simfunctions import *\nf...
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x000000001B0089E8>,from magellan.feature.simfunctions import *\nf...
3,ID_ID_sdx,ID,ID,None,None,soundex,<function ID_ID_sdx at 0x000000001B008AC8>,from magellan.feature.simfunctions import *\nf...
4,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x000000001B008B38>,from magellan.feature.simfunctions import *\nf...
5,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x000000001...,from magellan.feature.simfunctions import *\nf...
6,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x00000...,from magellan.feature.simfunctions import *\nf...
7,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x0...,from magellan.feature.simfunctions import *\nf...
8,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x0...,from magellan.feature.simfunctions import *\nf...
9,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x000000001B008D68>,from magellan.feature.simfunctions import *\nf...
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x000000001B008DD8>,from magellan.feature.simfunctions import *\nf...
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x000000001B008E48>,from magellan.feature.simfunctions import *\nf...
12,name_name_swg,name,name,None,None,smith_waterman_gotoh,<function name_name_swg at 0x000000001B008EB8>,from magellan.feature.simfunctions import *\nf...
13,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x00000...,from magellan.feature.simfunctions import *\nf...
14,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x00000...,from magellan.feature.simfunctions import *\nf...
15,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x00000...,from magellan.feature.simfunctions import *\nf...
16,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x000...,from magellan.feature.simfunctions import *\nf...
17,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x000...,from magellan.feature.simfunctions import *\nf...
18,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x000...,from magellan.feature.simfunctions import *\nf...
19,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x000000001B0...,from magellan.feature.simfunctions import *\nf...
20,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x000000001B0...,from magellan.feature.simfunctions import *\nf...
21,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x000000001B0...,from magellan.feature.simfunctions import *\nf...

In [13]:
#x = [10, 13, 16, 20]

In [14]:
#feat_table = feat_table.ix[x]

In [15]:
#feat_table

In [16]:
S = mg.sample_one_table(C, 10)

In [17]:
L = mg.label(S, 'label')

In [18]:
S_prime = mg.extract_feat_vecs(L, attrs_after='label', feat_table=feat_table)

In [19]:
dt = mg.DTMatcher()

In [20]:
dt.fit(table=S_prime, exclude_attrs=['_id', 'ltable.ID', 'rtable.ID'], target_attr='label')

['ID_ID_lev', 'ID_ID_jar', 'ID_ID_jwn', 'ID_ID_sdx', 'ID_ID_exm', 'ID_ID_jac_qgm_3_qgm_3', 'name_name_jac_qgm_3_qgm_3', 'name_name_cos_dlm_dc0_dlm_dc0', 'name_name_jac_dlm_dc0_dlm_dc0', 'name_name_mel', 'name_name_nmw', 'name_name_sw', 'name_name_swg', 'birth_year_birth_year_exm', 'birth_year_birth_year_anm', 'birth_year_birth_year_lev', 'hourly_wage_hourly_wage_exm', 'hourly_wage_hourly_wage_anm', 'hourly_wage_hourly_wage_lev', 'zipcode_zipcode_exm', 'zipcode_zipcode_anm', 'zipcode_zipcode_lev', 'label']
After fitting

In [21]:
S_prime

,_id,ltable.ID,rtable.ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_sdx,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,...,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev,label
0,0,a1,b1,0.5,0.666667,0.666667,0.888889,0,NaN,0.000000,...,0,0.998994,0.75,0,0.983333,0.25,1,1,1,0
1,1,a1,b6,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.998994,0.75,0,0.923077,0.50,1,1,1,0
2,2,a3,b1,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.999497,0.75,0,0.921875,0.25,1,1,1,1
3,3,a3,b6,0.0,0.000000,0.000000,0.888889,0,NaN,0.043478,...,0,0.999497,0.75,0,0.984615,0.75,1,1,1,0
4,4,a2,b3,0.0,0.000000,0.000000,0.888889,0,NaN,0.388889,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
5,5,a2,b5,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0
6,6,a4,b3,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.999497,0.75,0,0.846154,0.50,1,1,1,0
7,7,a5,b3,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0
8,8,a5,b4,0.0,0.000000,0.000000,0.888889,0,NaN,0.000000,...,0,0.998992,0.75,0,0.742857,0.50,1,1,1,0
9,9,a5,b5,0.5,0.666667,0.666667,0.888889,0,NaN,0.333333,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1

In [22]:
import os
import subprocess

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [23]:
def visualize_tree(tree, feature_names):
    """Create tree png using graphviz.

    Args
    ----
    tree -- scikit-learn DecsisionTree.
    feature_names -- list of feature names.
    """
    with open("dt.dot", 'w') as f:
        print 'Inside'
        export_graphviz(tree, out_file=f,
                        feature_names=feature_names)

    command = ["dot", "-Tpng", "dt.dot", "-o", "dt.png"]
    try:
        subprocess.check_call(command)
        print command
    except:
        exit("Could not run dot, ie graphviz, to "
             "produce visualization")

In [24]:
len(S_prime.columns)

26

In [25]:
visualize_tree(dt.clf,list(feat_table['feature_name']))

Inside

In [26]:
def get_code(tree, feature_names, target_names,
             spacer_base="    "):
    """Produce psuedo-code for decision tree.

    Args
    ----
    tree -- scikit-leant DescisionTree.
    feature_names -- list of feature names.
    target_names -- list of target (class) names.
    spacer_base -- used for spacing code (default: "    ").

    Notes
    -----
    based on http://stackoverflow.com/a/30104792.
    """
    left      = tree.tree_.children_left
    right     = tree.tree_.children_right
    threshold = tree.tree_.threshold
    features  = [feature_names[i] for i in tree.tree_.feature]
    value = tree.tree_.value

    def recurse(left, right, threshold, features, node, depth):
        spacer = spacer_base * depth
        if (threshold[node] != -2):
            print(spacer + "if ( " + features[node] + " <= " + \
                  str(threshold[node]) + " ) {")
            if left[node] != -1:
                    recurse(left, right, threshold, features,
                            left[node], depth+1)
            print(spacer + "}\n" + spacer +"else {")
            if right[node] != -1:
                    recurse(left, right, threshold, features,
                            right[node], depth+1)
            print(spacer + "}")
        else:
            target = value[node]
            for i, v in zip(np.nonzero(target)[1],
                            target[np.nonzero(target)]):
                target_name = target_names[i]
                target_count = int(v)
                print(spacer + "return " + str(target_name) + \
                      " ( " + str(target_count) + " examples )")

    recurse(left, right, threshold, features, 0, 0)

In [27]:
tree = dt.clf

In [28]:
tree.tree_.feature

array([21, -2, -2], dtype=int64)

In [40]:
get_code(dt.clf, list(feat_table['feature_name']), ['Match', 'Non-Match'])

if ( zipcode_zipcode_lev <= 0.5 ) {
    return Match ( 7 examples )
}
else {
    return Non-Match ( 3 examples )
}

In [30]:
d = {}

In [31]:
exec "birth_year_birth_year_lev = 1" in d

In [32]:
d['birth_year_birth_year_lev']

1

In [33]:
L = mg.load_table('../testcases/label.pkl')

In [34]:
L.properties

{'foreign_key_ltable': 'ltable.ID',
 'foreign_key_rtable': 'rtable.ID',
 'key': '_id',
 'ltable':    ID              name  birth_year  hourly_wage  \
 0  a1       Kevin Smith        1989         30.0
 1  a2  Michael Franklin        1988         27.5
 2  a3    William Bridge        1986         32.0
 3  a4      Binto George        1987         32.5
 4  a5   Alphonse Kemper        1984         35.0

                            address  zipcode
 0       607 From St, San Francisco    94107
 1  1652 Stockton St, San Francisco    94122
 2   3131 Webster St, San Francisco    94107
 3     423 Powell St, San Francisco    94122
 4  1702 Post Street, San Francisco    94122  ,
 'rtable':    ID            name  birth_year  hourly_wage  \
 0  b1     Mark Levene        1987         29.5
 1  b2     Bill Bridge        1986         32.0
 2  b3   Mike Franklin        1988         27.5
 3  b4     Joseph Kuan        1982         26.0
 4  b5   Alfons Kemper        1984         35.0
 5  b6  Michael Brodie        1987         32.5

                               address  zipcode
 0       108 Clement St, San Francisco    94107
 1      3131 Webster St, San Francisco    94107
 2     1652 Stockton St, San Francisco    94122
 3       108 South Park, San Francisco    94122
 4  170 Post St, Apt 4,  San Francisco    94122
 5   133 Clement Street, San Francisco    94107  }

In [35]:
def fn():
    hourly_wage_hourly_wage_exm = 1
    if ( hourly_wage_hourly_wage_exm <= 0.5 ):
        print 'hourly_wage_hourly_wage_exm <= 0.5 PASSED ( value : ' + str(hourly_wage_hourly_wage_exm) +  ' )'
        return True #( 9 examples )
    else:
        print 'hourly_wage_hourly_wage_exm <= 0.5 FAILED ( value : ' + str(hourly_wage_hourly_wage_exm) +  ' )'
        return False #( 1 examples )

In [36]:
fn()

hourly_wage_hourly_wage_exm <= 0.5 FAILED ( value : 1 )

False