In [2]:
import sys
#sys.path.append('/scratch/pradap/python-work/enrique/')
sys.path.append('C:/Pradap/Research/Python-Packages/enrique')

In [3]:
import magellan as mg

In [5]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

In [6]:
import jpype

In [7]:
jpype.getDefaultJVMPath()

u'C:\\Program Files\\Java\\jre7\\bin\\client\\jvm.dll'

In [8]:
mg.init_jvm('C:\\Program Files\\Java\\jre7\\bin\\server\\jvm.dll')

True

In [9]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

In [10]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

In [17]:
M = C

In [75]:
import numpy as np

In [86]:
kk=[np.repeat(0, 5), np.repeat(1, 7), np.repeat(0, 3)]
ll = []
for l in kk:
    ll.extend(list(l))

In [87]:
ll

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]

In [89]:
M['predicted_label'] = ll

In [19]:
G = C

In [88]:
G['actual_label'] = ll

In [21]:
m_df = M.to_dataframe()
g_df = G.to_dataframe()

In [52]:
id_map = [('ltable.ID', 'ltable.ID'), ('rtable.ID', 'rtable.ID')]

In [53]:
label_map = ('predicted_label', 'actual_label')

In [54]:
    m_label = id_map[0]
    g_label = id_map[1]
    m_index_vals = [id_map[0][0], id_map[1][0]]
    g_index_vals = [id_map[0][1], id_map[1][1]]

In [55]:
    m_df = m_df.set_index(m_index_vals, drop=False)
    g_df = g_df.set_index(g_index_vals, drop=False)

In [59]:
m_idx = m_df.index.values

In [60]:
g_idx = g_df.index.values

In [64]:
m1 = set(m_idx)
m2 = set(g_idx)

In [72]:
dict(zip(m_index_vals, m_idx[0]))

{'ltable.ID': 'a1', 'rtable.ID': 'b1'}