In [1]:
import sys
sys.path.append('/scratch/pradap/python-work/enrique/')

In [2]:
import magellan as mg

In [3]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

In [4]:
mg.init_jvm()

True

In [5]:
f = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

In [6]:
x = mg.get_feature_fn('lev(ltuple["address"], rtuple["address"])', mg._current_sim_funs, mg._current_tokenizers)

In [7]:
mg.add_feature(f, 'muruga', x)

True

In [10]:
globals()['x']

{'feature_name': 'muruga',
 'function': <function fn>,
 'function_source': 'def fn(ltuple, rtuple):\n    return lev(ltuple["address"], rtuple["address"])',
 'left_attr_tokenizer': 'PARSE_EXP',
 'left_attribute': 'address',
 'right_attr_tokenizer': 'PARSE_EXP',
 'right_attribute': 'address',
 'simfunction': 'lev'}

In [28]:
rr = """
def fun(ltuple, rtuple):
    return muruga(ltuple, rtuple) > 0.7
"""

In [20]:
fnames = f['feature_name']
funcs = f['function']

In [17]:
z = dict(zip(fnames, funcs))

In [32]:
k = ["muruga > 0.7", "muruga > 0.8"]

In [33]:
' and '.join(k)

'muruga > 0.7 and muruga > 0.8'

In [31]:
z['fun'](A.ix[1], B.ix[2])

True

In [36]:
f_l = list(fnames)

In [37]:
t = "muruga > 0.9"

In [38]:
tt = t.split()

In [40]:
fnames

0                      ID_ID_lev
1      name_name_jac_qgm_3_qgm_3
2      name_name_jac_qgm_2_qgm_3
3      birth_year_birth_year_rdf
4    hourly_wage_hourly_wage_rdf
5            zipcode_zipcode_rdf
6                         muruga
Name: feature_name, dtype: object

In [41]:
from collections import OrderedDict

In [42]:
d = OrderedDict()
d['b'] = 10
d['a'] = 20
d['d'] = 30

In [52]:
for i, r in A.iterrows():
    a = r

In [60]:
a.index = 'ltable.'+a.index

In [65]:
A1 = A.set_index('ID', drop=False)

In [74]:
import numpy as np

In [77]:
s = A.ix[1]

In [80]:
d = OrderedDict()

In [79]:
s[['name', 'hourly_wage', 'zipcode']]

name           Michael Franklin
hourly_wage                27.5
zipcode                   94122
Name: 1, dtype: object

In [81]:
d.update(s)

In [84]:
l = ['name', 'hourly_wage', 'zipcode']
r = ['name', 'hourly_wage', 'zipcode']

In [91]:
ll = ['_id']
ll.append('ltable.' + A.get_key())
ll.append('rtable.'+ B.get_key())

In [92]:
ll.extend(['ltable.' + x for x in l])
ll.extend(['rtable.' + x for x in l])

In [94]:
A2 = A[['name', 'hourly_wage']]

In [95]:
A2

   _id              name  hourly_wage
0    0       Kevin Smith         30.0
1    1  Michael Franklin         27.5
2    2    William Bridge         32.0
3    3      Binto George         32.5
4    4   Alphonse Kemper         35.0

In [89]:
ll

['_id', 'ltable.ID']

In [86]:
['ltable.' + x for x in l]

['ltable.name', 'ltable.hourly_wage', 'ltable.zipcode']