In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('c:/Pradap/Research/Python-Packages/enrique/')

In [3]:
import magellan as mg

In [4]:
A = mg.read_csv('../magellan/datasets/table_A.csv', key='ID')
B = mg.read_csv('../magellan/datasets/table_B.csv', key='ID')

In [5]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
ID,,,,,,
a1,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
a2,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
a3,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
a4,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
a5,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

In [6]:
A1 = A[['name', 'birth_year']]

In [7]:
A1 = A1.to_dataframe()

In [8]:
A1.properties

{'key': '_m_id'}

In [9]:
from magellan.core.mtable import MTable

In [10]:
A2 = MTable({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [12]:
A2.set_key('A')

In [13]:
A2

   A  B  C
A
1  1  4  7
2  2  5  8
3  3  6  9