In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('c:/Pradap/Research/Python-Packages/enrique/')

In [3]:
import magellan as mg

In [4]:
A = mg.read_csv('../magellan/datasets/table_A.csv', key='ID')
B = mg.read_csv('../magellan/datasets/table_B.csv', key='ID')

In [5]:
mg.init_jvm('C:\\Program Files\\Java\\jre7\\bin\\server\\jvm.dll')

True

In [6]:
import magellan as mg

In [7]:
s = mg.get_sim_funs()
t = mg.get_single_arg_tokenizers()
t_A = mg.get_attr_types(A)
t_B = mg.get_attr_types(B)
c = mg.get_attr_corres(A, B)
f = mg.get_features_all_input(A, B, t_A, t_B, c, t, s)

WARNING:magellan.feature.featurecreation:address type and address type are different

[{'function': <function ID_ID_lev at 0x000000000A236438>, 'right_attribute': 'ID', 'simfunction': 'lev', 'left_attr_tokenizer': None, 'right_attr_tokenizer': None, 'feature_name': 'ID_ID_lev', 'left_attribute': 'ID'}]
[{'function': <function name_name_jac_qgm_3_qgm_3 at 0x000000000A2363C8>, 'right_attribute': 'name', 'simfunction': 'jaccard', 'left_attr_tokenizer': 'qgm_3', 'right_attr_tokenizer': 'qgm_3', 'feature_name': 'name_name_jac_qgm_3_qgm_3', 'left_attribute': 'name'}, {'function': <function name_name_jac_qgm_2_qgm_3 at 0x000000000A2364A8>, 'right_attribute': 'name', 'simfunction': 'jaccard', 'left_attr_tokenizer': 'qgm_2', 'right_attr_tokenizer': 'qgm_3', 'feature_name': 'name_name_jac_qgm_2_qgm_3', 'left_attribute': 'name'}]
[{'function': <function birth_year_birth_year_rdf at 0x000000000A236518>, 'right_attribute': 'birth_year', 'simfunction': 'rel_diff', 'left_attr_tokenizer': None, 'right_attr_tokenizer': None, 'feature_name': 'birth_year_birth_year_rdf', 'left_attribute': 'birth_year'}]
[{'function': <function hourly_wage_hourly_wage_rdf at 0x000000000A236588>, 'right_attribute': 'hourly_wage', 'simfunction': 'rel_diff', 'left_attr_tokenizer': None, 'right_attr_tokenizer': None, 'feature_name': 'hourly_wage_hourly_wage_rdf', 'left_attribute': 'hourly_wage'}]
[{'function': <function zipcode_zipcode_rdf at 0x000000000A2366D8>, 'right_attribute': 'zipcode', 'simfunction': 'rel_diff', 'left_attr_tokenizer': None, 'right_attr_tokenizer': None, 'feature_name': 'zipcode_zipcode_rdf', 'left_attribute': 'zipcode'}]

In [8]:
import pandas as pd

In [9]:
def flatten_list(inp_list):
    return [item for sublist in inp_list for item in sublist]

In [10]:
f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x000000000A236438>
1,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x00000...
2,name_name_jac_qgm_2_qgm_3,name,name,qgm_2,qgm_3,jaccard,<function name_name_jac_qgm_2_qgm_3 at 0x00000...
3,birth_year_birth_year_rdf,birth_year,birth_year,None,None,rel_diff,<function birth_year_birth_year_rdf at 0x00000...
4,hourly_wage_hourly_wage_rdf,hourly_wage,hourly_wage,None,None,rel_diff,<function hourly_wage_hourly_wage_rdf at 0x000...
5,zipcode_zipcode_rdf,zipcode,zipcode,None,None,rel_diff,<function zipcode_zipcode_rdf at 0x000000000A2...