To execute the commands and view the output as shown in this webpage, execute the following command from command prompt

ipython notebook 

It should open up a webpage and from there create a new notebook. 

Note: Page at http://ipython.org/notebook.html provides good introductory information about ipython and its usage.

In [1]:
# Install autotime ipython module that is useful to time execution of each command
%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py

Installed autotime.py. To use it, type:
  %load_ext autotime

In [2]:
# Load autotime ipython module
%load_ext autotime

In [3]:
import sys

time: 92 ms

In [4]:
sys.path.append("c:/Pradap/Research/Python-Packages/enrique/")

time: 122 ms

In [5]:
# import magellan into python workspace
import magellan as mg

time: 1.53 s

In [6]:
A = mg.load_dataset('table_A')

time: 6 ms

In [7]:
A.head(10)

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 161 ms

In [8]:
import jpype

time: 100 ms

In [9]:
jpype.getDefaultJVMPath()

u'C:\\Program Files\\Java\\jre7\\bin\\client\\jvm.dll'

time: 107 ms

In [10]:
# Initialize JVM
mg.init_jvm('C:\\Program Files\\Java\\jre7\\bin\\server\\jvm.dll')

True

time: 228 ms

In [11]:
# import toy datasets
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 330 ms

In [12]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 177 ms

In [13]:
# block using zipcode
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

time: 100 ms

In [14]:
# dusplay candidate set
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

time: 160 ms

In [15]:
# block using hourly_wage
E = ab.block_tables(A, B, 'hourly_wage', 'hourly_wage', l_output_attrs=['birth_year'], r_output_attrs=['birth_year'])

time: 217 ms

In [16]:
# display candidate set
E

   _id ltable.ID rtable.ID  ltable.birth_year  rtable.birth_year
0    0        a2        b3               1988               1988
1    1        a3        b2               1986               1986
2    2        a4        b6               1987               1987
3    3        a5        b5               1984               1984

time: 184 ms

In [17]:
# block candidate set C using birth_year
D = ab.block_candset(C, 'birth_year', 'birth_year')

time: 118 ms

In [18]:
# display D
D

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

time: 110 ms

In [19]:
# combine blocking outputs C and D. (Note: This is just for illustration, as the output will be just C)
F = mg.combine_block_outputs_via_union([C, D])

time: 185 ms

In [20]:
# display F
F

,_id,ltable.ID,rtable.ID,ltable.hourly_wage,ltable.name,ltable.zipcode,rtable.hourly_wage,rtable.name,rtable.zipcode
0,0,a5,b3,35.0,Alphonse Kemper,94122,27.5,Mike Franklin,94122
1,1,a3,b2,32.0,William Bridge,94107,32.0,Bill Bridge,94107
2,2,a4,b3,32.5,Binto George,94122,27.5,Mike Franklin,94122
3,3,a2,b4,27.5,Michael Franklin,94122,26.0,Joseph Kuan,94122
4,4,a2,b5,27.5,Michael Franklin,94122,35.0,Alfons Kemper,94122
5,5,a1,b2,30.0,Kevin Smith,94107,32.0,Bill Bridge,94107
6,6,a1,b1,30.0,Kevin Smith,94107,29.5,Mark Levene,94107
7,7,a4,b5,32.5,Binto George,94122,35.0,Alfons Kemper,94122
8,8,a4,b4,32.5,Binto George,94122,26.0,Joseph Kuan,94122
9,9,a3,b6,32.0,William Bridge,94107,32.5,Michael Brodie,94107
10,10,a2,b3,27.5,Michael Franklin,94122,27.5,Mike Franklin,94122
11,11,a3,b1,32.0,William Bridge,94107,29.5,Mark Levene,94107
12,12,a5,b5,35.0,Alphonse Kemper,94122,35.0,Alfons Kemper,94122
13,13,a1,b6,30.0,Kevin Smith,94107,32.5,Michael Brodie,94107
14,14,a5,b4,35.0,Alphonse Kemper,94122,26.0,Joseph Kuan,94122

time: 148 ms

In [21]:
# sample candidate set F
S = mg.sample_one_table(F, 13)

time: 94 ms

In [22]:
# label candidate set and name the label column as gold_label
L = mg.label(S, 'gold_label')

time: 17.4 s

In [24]:
# get features automatically (internally it computes types, attr_corres, sim functions, tokenizers )
feat_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

time: 14 ms

In [25]:
# display feature table
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x000000001B5FD7B8>,from magellan.feature.simfunctions import *\nf...
1,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x00000...,from magellan.feature.simfunctions import *\nf...
2,name_name_jac_qgm_2_qgm_3,name,name,qgm_2,qgm_3,jaccard,<function name_name_jac_qgm_2_qgm_3 at 0x00000...,from magellan.feature.simfunctions import *\nf...
3,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x00000...,from magellan.feature.simfunctions import *\nf...
4,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x000...,from magellan.feature.simfunctions import *\nf...
5,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x000000001B5...,from magellan.feature.simfunctions import *\nf...

time: 26 ms

In [26]:
# see what tokenizers were used to generate features
mg._current_tokenizers

{'dlm_dc0': <function magellan.feature.tokenizers.tok_delim>,
 'qgm_2': <function magellan.feature.tokenizers.tok_qgram>,
 'qgm_3': <function magellan.feature.tokenizers.tok_qgram>}

time: 3 ms

In [27]:
# see what simfunctions were used to generate features
mg._current_sim_funs

{'exact_match': <function magellan.feature.simfunctions.exact_match>,
 'jaccard': <function magellan.feature.simfunctions.jaccard>,
 'lev': <function magellan.feature.simfunctions.lev>,
 'rel_diff': <function magellan.feature.simfunctions.rel_diff>}

time: 3 ms

In [28]:
# create a new features that computes jaccard measure over address attribute
r = mg.get_feature_fn("jaccard(qgm_3(ltuple['address']), qgm_3(rtuple['address']))", mg._current_sim_funs, mg._current_tokenizers)

time: 4 ms

In [29]:
# see the output from get_feature_fn 
r

{'function': <function fn>,
 'function_source': "def fn(ltuple, rtuple):\n    return jaccard(qgm_3(ltuple['address']), qgm_3(rtuple['address']))",
 'left_attr_tokenizer': 'qgm_3',
 'left_attribute': 'address',
 'right_attr_tokenizer': 'qgm_3',
 'right_attribute': 'address',
 'simfunction': 'jaccard'}

time: 3 ms

In [30]:
# add the feature to feature table
mg.add_feature(feat_table, 'add_add_jac_qgm_3_qgm_3', r)

True

time: 55 ms

In [31]:
# check to see whether the feature is indeed added to feature table
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x000000001B5FD7B8>,from magellan.feature.simfunctions import *\nf...
1,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x00000...,from magellan.feature.simfunctions import *\nf...
2,name_name_jac_qgm_2_qgm_3,name,name,qgm_2,qgm_3,jaccard,<function name_name_jac_qgm_2_qgm_3 at 0x00000...,from magellan.feature.simfunctions import *\nf...
3,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x00000...,from magellan.feature.simfunctions import *\nf...
4,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x000...,from magellan.feature.simfunctions import *\nf...
5,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x000000001B5...,from magellan.feature.simfunctions import *\nf...
6,add_add_jac_qgm_3_qgm_3,address,address,qgm_3,qgm_3,jaccard,<function fn at 0x000000001B5FDDD8>,"def fn(ltuple, rtuple):\n return jaccard(qg..."

time: 28 ms

In [32]:
# Try executing the newly added function over tuples from A and B
feat_table.ix[6, 'function'](A.ix[2], B.ix[3])

0.30952380952380953

time: 62 ms

In [33]:
# Extract feature vectors for labeled candidate set. Also, we mention 'ltable.name, rtable.name' must be included before
# feature vectors and 'gold_label' after the feature vector
s_prime = mg.extract_feat_vecs(L, attrs_before=['ltable.name', 'rtable.name'], feat_table=feat_table, attrs_after=['gold_label'])

time: 95 ms

In [34]:
# display feature vector table
s_prime

,_id,ltable.ID,rtable.ID,ltable.name,rtable.name,ID_ID_lev,name_name_jac_qgm_3_qgm_3,name_name_jac_qgm_2_qgm_3,birth_year_birth_year_exm,hourly_wage_hourly_wage_exm,zipcode_zipcode_exm,add_add_jac_qgm_3_qgm_3,gold_label
0,0,a3,b2,William Bridge,Bill Bridge,0.0,0.400000,0,1,1,1,1.000000,1
1,1,a4,b3,Binto George,Mike Franklin,0.0,0.000000,0,0,0,1,0.421053,0
2,2,a2,b4,Michael Franklin,Joseph Kuan,0.0,0.000000,0,0,0,1,0.309524,0
3,3,a2,b5,Michael Franklin,Alfons Kemper,0.0,0.000000,0,0,0,1,0.333333,0
4,4,a1,b2,Kevin Smith,Bill Bridge,0.0,0.000000,0,0,0,1,0.457143,0
5,5,a1,b1,Kevin Smith,Mark Levene,0.5,0.000000,0,0,0,1,0.470588,0
6,6,a4,b5,Binto George,Alfons Kemper,0.0,0.000000,0,0,0,1,0.380952,0
7,7,a4,b4,Binto George,Joseph Kuan,0.5,0.000000,0,0,0,1,0.325000,0
8,8,a3,b6,William Bridge,Michael Brodie,0.0,0.043478,0,0,0,1,0.340909,0
9,9,a2,b3,Michael Franklin,Mike Franklin,0.0,0.388889,0,1,1,1,1.000000,0
10,10,a3,b1,William Bridge,Mark Levene,0.0,0.000000,0,0,0,1,0.410256,0
11,11,a5,b5,Alphonse Kemper,Alfons Kemper,0.5,0.333333,0,1,1,1,0.487805,1
12,12,a1,b6,Kevin Smith,Michael Brodie,0.0,0.000000,0,0,0,1,0.384615,0

time: 47 ms

In [35]:
# Fitting/Predicting
# Create a set of matchers
nb = mg.NBMatcher() # naive bayes 
dt = mg.DTMatcher() # decision tree
rf = mg.RFMatcher() # random forest

time: 2 ms

In [36]:
# Select a matcher using cross validation
m = mg.select_matcher([nb, dt, rf], x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'], k=5 )

time: 77 ms

In [37]:
# see what was selected and the stats
m

(<magellan.matcher.nbmatcher.NBMatcher at 0x1b60afd0>,
                                              matcher  mean score          name
 0  <magellan.matcher.nbmatcher.NBMatcher object a...    0.766667    NaiveBayes
 1  <magellan.matcher.dtmatcher.DTMatcher object a...    0.766667  DecisionTree
 2  <magellan.matcher.rfmatcher.RFMatcher object a...    0.766667  RandomForest)

time: 6 ms

In [38]:
# instead of a single matcher, we can choose ensemble of matchers
mc, stats = mg.selector_matcher_combiner([nb, dt, rf], ['majority'], x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'], k=5)

time: 284 ms

In [39]:
# see what matcher (or ensemble) was selected
mc

time: 2 ms

In [40]:
# train using selected matcher. 
mc.fit(x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'])

time: 4 ms

In [41]:
# we want to predict matches from combined candidate set for that we need to generate feature vectors
# NOTE: This is just for illustration, ideally we should remove the rows that was sampled and labeled from combined 
# candidate set F.
c_prime = mg.extract_feat_vecs(F, attrs_before=['ltable.name', 'rtable.name'], feat_table=feat_table)

time: 102 ms

In [42]:
# predict the outputs
mc.predict(x=s_prime[list(feat_table['feature_name'])])

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

time: 5 ms

In [43]:
A['ppp'] = 10

time: 2 ms

In [45]:
type(A)

magellan.core.mtable.MTable

time: 2 ms