In [2]:
import sys
sys.path.append('c:/Pradap/Research/Python-Packages/enrique/')

In [3]:
import magellan as mg

In [5]:
A = mg.read_csv('../magellan/datasets/table_A.csv', key='ID')
B = mg.read_csv('../magellan/datasets/table_B.csv', key='ID')

,ID,name,birth_year,hourly_wage,address,zipcode
ID,,,,,,
b1,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107
b2,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
b3,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
b4,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122
b5,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122
b6,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107