In [1]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

In [2]:
mg.init_jvm()

True

In [3]:
# read tables
A = mg.read_csv('DBLP.csv', key='id')
B = mg.read_csv('ACM.csv', key='id')

In [4]:
A.head(2)

,id,title,authors,venue,year
0,journals/sigmod/Mackay99,Semantic Integration of Environmental Models f...,D. Scott Mackay,SIGMOD Record,1999
1,conf/vldb/PoosalaI96,Estimation of Query-Result Distribution and it...,"Viswanath Poosala, Yannis E. Ioannidis",VLDB,1996

In [5]:
B.head(2)

,id,title,authors,venue,year
0,304586,The WASA2 object-oriented workflow management ...,"Gottfried Vossen, Mathias Weske",International Conference on Management of Data,1999
1,304587,A user-centered interface for querying distrib...,"Isabel F. Cruz, Kimberly M. James",International Conference on Management of Data,1999

In [6]:
# Blocking - already done and stored as tableC.csv
C = mg.read_csv('tableC.csv', ltable=A, rtable=B)
len(C)

62392

In [13]:
# Plan

# 1. Sample candidate set --> S
# 2. Label S --> G
# 3. Split G into development set I, and evaluation set J
# 4. Select best learning-based matcher Y, using I 
# 5. Add triggers to Y ---> Z
# 6. Evaluate Z using J

In [7]:
# Sample the candidate set
S = mg.sample_table(C, 450)

In [8]:
help(mg.sample_table)

Help on function sample_table in module magellan.sampler.sampler:

sample_table(table, size, replace=False)
    Sample MTable

    Parameters
    ----------
    table : MTable, input table to be sampled
    size : int, number of samples
    replace : boolean, whether sampling should be done with replacement.
            By default, it is set to False.

    Returns
    -------
    sampled_table: MTable, sampled table

In [9]:
# Label S
G = mg.label_table(S, 'gold')

In [10]:
# For the demo, use pre-labeled data
G = mg.read_csv('dblp_acm_demo_labels.csv', ltable=A, rtable=B)
len(G)

415

In [11]:
# Split G into development (I) and evaluation (J)
IJ = mg.train_test_split(G, train_proportion=0.7)
I = IJ['train']
J = IJ['test']

In [12]:
# check the number of tuples in I and J
(len(I), len(J))

(290, 125)

In [23]:
# Selecting the best learning-based matcher using I

# Plan 

# 1. Create a set of ML-matchers
# 2. Generate features --> feature_table
# 3. Extract features using I and feature_table
# 4. Select best learning-based matcher using CV
# 5. Debug the selected matcher (and repeat the above steps)

In [17]:
# Create a set of ML-matchers
dt = mg.DTMatcher(name='DecisionTree', random_state=0)
svm = mg.SVMMatcher()
rf = mg.RFMatcher(name='RF', random_state=0)
nb = mg.NBMatcher(name='NB')
lg = mg.LogRegMatcher(name='LogReg')
ln = mg.LinRegMatcher(name='LinReg')

In [18]:
# check names of the matchers
(dt.name, svm.name)

('DecisionTree', 'SVM_84216205154082876441')

In [19]:
# Generate features
feat_table = mg.get_features_for_matching(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: id type (str_eq_1w) and id type (numeric) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

WARNING:magellan.feature.autofeaturegen:Magellan types: venue type (str_bt_1w_5w) and venue type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

In [20]:
mg._match_s

{'abs_norm': <function magellan.feature.simfunctions.abs_norm>,
 'cosine': <function magellan.feature.simfunctions.cosine>,
 'exact_match': <function magellan.feature.simfunctions.exact_match>,
 'jaccard': <function magellan.feature.simfunctions.jaccard>,
 'jaro': <function magellan.feature.simfunctions.jaro>,
 'jaro_winkler': <function magellan.feature.simfunctions.jaro_winkler>,
 'lev': <function magellan.feature.simfunctions.lev>,
 'monge_elkan': <function magellan.feature.simfunctions.monge_elkan>,
 'needleman_wunsch': <function magellan.feature.simfunctions.needleman_wunsch>,
 'rel_diff': <function magellan.feature.simfunctions.rel_diff>,
 'smith_waterman': <function magellan.feature.simfunctions.smith_waterman>,
 'smith_waterman_gotoh': <function magellan.feature.simfunctions.smith_waterman_gotoh>,
 'soundex': <function magellan.feature.simfunctions.soundex>}

In [21]:
mg._match_t

{'dlm_dc0': <function magellan.feature.tokenizers.tok_delim>,
 'qgm_2': <function magellan.feature.tokenizers.tok_qgram>,
 'qgm_3': <function magellan.feature.tokenizers.tok_qgram>}

In [22]:
mg._match_c['corres']

[('id', 'id'),
 ('title', 'title'),
 ('authors', 'authors'),
 ('venue', 'venue'),
 ('year', 'year')]

In [23]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,title_title_jac_qgm_3_qgm_3,title,title,qgm_3,qgm_3,jaccard,<function title_title_jac_qgm_3_qgm_3 at 0x11f...,from magellan.feature.simfunctions import *\nf...
1,title_title_cos_dlm_dc0_dlm_dc0,title,title,dlm_dc0,dlm_dc0,cosine,<function title_title_cos_dlm_dc0_dlm_dc0 at 0...,from magellan.feature.simfunctions import *\nf...
2,title_title_mel,title,title,None,None,monge_elkan,<function title_title_mel at 0x11fee7230>,from magellan.feature.simfunctions import *\nf...
3,title_title_lev,title,title,None,None,lev,<function title_title_lev at 0x11fee7398>,from magellan.feature.simfunctions import *\nf...
4,authors_authors_jac_qgm_3_qgm_3,authors,authors,qgm_3,qgm_3,jaccard,<function authors_authors_jac_qgm_3_qgm_3 at 0...,from magellan.feature.simfunctions import *\nf...
5,authors_authors_cos_dlm_dc0_dlm_dc0,authors,authors,dlm_dc0,dlm_dc0,cosine,<function authors_authors_cos_dlm_dc0_dlm_dc0 ...,from magellan.feature.simfunctions import *\nf...
6,authors_authors_mel,authors,authors,None,None,monge_elkan,<function authors_authors_mel at 0x11fee7500>,from magellan.feature.simfunctions import *\nf...
7,authors_authors_lev,authors,authors,None,None,lev,<function authors_authors_lev at 0x11fee7578>,from magellan.feature.simfunctions import *\nf...
8,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x11fee75f0>,from magellan.feature.simfunctions import *\nf...
9,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x11fee7668>,from magellan.feature.simfunctions import *\nf...
10,year_year_lev,year,year,None,None,lev,<function year_year_lev at 0x11fee76e0>,from magellan.feature.simfunctions import *\nf...

In [24]:
# NOTE:
# For the demo purposes, use only 'venue', 'year' related features to get best-learning matcher 
# and use 'title', 'author' related features to write triggers.

In [25]:
# Select 'year' related features
feat_subset_iter1 = feat_table[8:11]

In [26]:
# Get feature vectors
H = mg.extract_feature_vecs(G, feature_table=feat_subset_iter1, attrs_after='gold')

In [27]:
H.head()

,_id,ltable.id,rtable.id,year_year_exm,year_year_anm,year_year_lev,gold
0,0,conf/sigmod/AbadiCCCCEGHMRSSTXYZ03,335476,0,0.998502,0.666667,0
1,1,conf/sigmod/AbadiCCCCEGHMRSSTXYZ03,672966,0,0.995507,0.000000,0
2,2,conf/sigmod/AcharyaAFZ95,223816,1,1.000000,0.666667,1
3,3,conf/sigmod/AdaliBSS98,673639,0,0.999499,0.500000,0
4,4,conf/sigmod/Adelberg98,276330,1,1.000000,0.666667,1

In [28]:
# impute H
H.fillna(0, inplace=True)

In [32]:
# select the best ML matcher using CV
result = mg.select_matcher([dt, rf, svm, nb, lg, ln], table=H, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='f1')

In [33]:
result['selected_matcher']

In [34]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.838095,0.833333,0.846154,0.892857,0.888889,0.859866
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.851485,0.838095,0.870370,0.869565,0.870370,0.859977
2,SVM_84216205154082876441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.872727,0.830189,0.854369,0.878505,0.841121,0.855382
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.783505,0.870370,0.836735,0.875000,0.879310,0.848984
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.862745,0.733333,0.923077,0.840000,0.871795,0.846190
5,LinReg,<magellan.matcher.linregmatcher.LinRegMatcher ...,5,0.892857,0.862745,0.865385,0.862385,0.818182,0.860311

In [35]:
# Debug decision tree

# Split feature vectors to train and test
UV = mg.train_test_split(H, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [36]:
mg.vis_debug_dt(dt, U, V, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold')

In [37]:
# Add a feature for 'venue'
# 1. create a feature
# 2. Add the feature to feature table.

In [38]:
# Create a feature
feature = mg.get_feature_fn("lev(ltuple['venue'], rtuple['venue'])", mg._match_t, mg._match_s)

In [39]:
# Add feature to feature table
mg.add_feature(feat_table, 'venue_venue_lev', feature)

True

In [40]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,title_title_jac_qgm_3_qgm_3,title,title,qgm_3,qgm_3,jaccard,<function title_title_jac_qgm_3_qgm_3 at 0x11f...,from magellan.feature.simfunctions import *\nf...
1,title_title_cos_dlm_dc0_dlm_dc0,title,title,dlm_dc0,dlm_dc0,cosine,<function title_title_cos_dlm_dc0_dlm_dc0 at 0...,from magellan.feature.simfunctions import *\nf...
2,title_title_mel,title,title,None,None,monge_elkan,<function title_title_mel at 0x11fee7230>,from magellan.feature.simfunctions import *\nf...
3,title_title_lev,title,title,None,None,lev,<function title_title_lev at 0x11fee7398>,from magellan.feature.simfunctions import *\nf...
4,authors_authors_jac_qgm_3_qgm_3,authors,authors,qgm_3,qgm_3,jaccard,<function authors_authors_jac_qgm_3_qgm_3 at 0...,from magellan.feature.simfunctions import *\nf...
5,authors_authors_cos_dlm_dc0_dlm_dc0,authors,authors,dlm_dc0,dlm_dc0,cosine,<function authors_authors_cos_dlm_dc0_dlm_dc0 ...,from magellan.feature.simfunctions import *\nf...
6,authors_authors_mel,authors,authors,None,None,monge_elkan,<function authors_authors_mel at 0x11fee7500>,from magellan.feature.simfunctions import *\nf...
7,authors_authors_lev,authors,authors,None,None,lev,<function authors_authors_lev at 0x11fee7578>,from magellan.feature.simfunctions import *\nf...
8,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x11fee75f0>,from magellan.feature.simfunctions import *\nf...
9,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x11fee7668>,from magellan.feature.simfunctions import *\nf...
10,year_year_lev,year,year,None,None,lev,<function year_year_lev at 0x11fee76e0>,from magellan.feature.simfunctions import *\nf...
11,venue_venue_lev,venue,venue,PARSE_EXP,PARSE_EXP,lev,<function fn at 0x10701d7d0>,"def fn(ltuple, rtuple):\n return lev(ltuple..."

In [41]:
# Select 'year'  + 'venue' related features
feat_subset_iter2 = feat_table[8:12]

In [42]:
# Get new set of features
H = mg.extract_feature_vecs(G, feature_table=feat_subset_iter2, attrs_after='gold')
# impute H
H.fillna(0, inplace=True)

In [43]:
# Split feature vectors to train and test
UV = mg.train_test_split(H, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [44]:
# Check whether the added features improves the accuracy in the test set.
# Steps
# 1. Train dt using U
# 2. Predict V using dt
# 3. Evaluate predictions

In [45]:
# Train dt using U
dt.fit(table=U, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [46]:
# Predict V using dt
P = dt.predict(table=V, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [47]:
# Evaluate the predictions
eval_result = mg.eval_matches(P, 'gold', 'predicted')
mg.print_eval_summary(eval_result)

Precision : 87.5% (119/136)
Recall : 99.17% (119/120)
F1 : 92.97%
False positives : 17 (out of 136 positive predictions)
False negatives : 1 (out of 72 negative predictions)

In [52]:
# Apply cross validation to find if there is a better matcher
result = mg.select_matcher([dt, rf, svm, nb, lg, ln], table=H, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='precision')

In [53]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.944444,0.912281,0.954545,0.795918,0.840000,0.889438
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.884615,0.897959,0.849057,0.920000,0.884615,0.887249
2,SVM_84216205154082876441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.793103,0.730159,0.741379,0.793651,0.701754,0.752009
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.758621,0.725806,0.758065,0.860000,0.714286,0.763355
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.775862,0.660714,0.741379,0.800000,0.815385,0.758668
5,LinReg,<magellan.matcher.linregmatcher.LinRegMatcher ...,5,0.762712,0.781250,0.725806,0.773585,0.731343,0.754939

In [54]:
# Select DT as the best matcher -- Y
# Use year + venue related features

In [55]:
# Add triggers on top of Y

# Target false positives

In [56]:
# Split feature vectors to train and test
UV = mg.train_test_split(H, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [57]:
# Add trigger : use title related feature
neg_trigger = mg.MatchTrigger()
neg_trigger.add_cond_rule('title_title_jac_qgm_3_qgm_3(ltuple, rtuple) < 0.4', feat_table)
neg_trigger.add_cond_status(True)
neg_trigger.add_action(0)

True

In [58]:
# Check whether the added trigger improves the accuracy in the test set.
# Steps
# 1. Train DT using U
# 2. Predict V using DT
# 3. Apply trigger
# 4. Evaluate the result

In [107]:
# Train dt using U
dt.fit(table=U, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [108]:
# Predict V using dt
P = dt.predict(table=V, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [109]:
# Apply trigger
Q = neg_trigger.execute(P, 'predicted', inplace=False)

In [110]:
# Evaluate the result
eval_result = mg.eval_matches(Q, 'predicted', 'gold')
mg.print_eval_summary(eval_result)

Precision : 95.0% (114/120)
Recall : 99.13% (114/115)
F1 : 97.02%
False positives : 6 (out of 120 positive predictions)
False negatives : 1 (out of 88 negative predictions)

In [111]:
# Do cross-validation for matcher + trigger using I
result = mg.cv_matcher_and_trigger(dt, neg_trigger, table = H, 
                                   exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                                  target_attr='gold')

0%  100%
[#####] | ETA[sec]: 0.000
Total time elapsed: 0.341 sec

In [112]:
result['cv_stats']

,Metric,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,precision,5,1.000000,0.978261,1.000000,1.000000,1.000000,0.995652
1,recall,5,0.958333,0.937500,0.916667,0.936170,0.925000,0.934734
2,f1,5,0.978723,0.957447,0.956522,0.967033,0.961039,0.964153

In [114]:
# Recall the cv for just matcher was
result = mg.cv_matcher_and_trigger(dt, [], table = H, 
                                   exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                                  target_attr='gold')

0%  100%
[#####] | ETA[sec]: 0.000
Total time elapsed: 0.141 sec

In [115]:
result['cv_stats']

,Metric,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,precision,5,0.883721,0.847458,0.938776,0.923077,0.843137,0.887234
1,recall,5,1.000000,1.000000,0.938776,0.960000,0.977273,0.975210
2,f1,5,0.938272,0.917431,0.938776,0.941176,0.905263,0.928184

In [116]:
# Now Z is DT (features: feat_subset_iter2) + neg_trigger
# Validate Z using J
# Steps
# 1. Extract feature vectors (using feat_subset_iter2) -- > M
# 2. Train DT using H (feature vectors generated using I)
# 3. Predict M using DT
# 4. Apply negative trigger
# 5. Evaluate the result

In [117]:
# Extract feature vectors
M = mg.extract_feature_vecs(J, feature_table=feat_subset_iter2, attrs_after='gold')

In [118]:
# Impute missing values
M.fillna(0, inplace=True)

In [120]:
# Train using feature vectors from I
dt.fit(table=H, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [121]:
# Predict M 
N = dt.predict(table=M, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [126]:
# Apply trigger
T = neg_trigger.execute(N, 'predicted', inplace=False)

In [127]:
# Evaluate the result
eval_result = mg.eval_matches(T, 'gold', 'predicted')
mg.print_eval_summary(eval_result)

Precision : 100.0% (72/72)
Recall : 93.51% (72/77)
F1 : 96.64%
False positives : 0 (out of 72 positive predictions)
False negatives : 5 (out of 53 negative predictions)

In [128]:
T.to_csv('final_matches.csv')

True