In [149]:
import magellan as mg
import numpy as np
import pandas as pd

In [108]:
# read in csv files
A= mg.read_csv('tableA.csv',key='id')
B= mg.read_csv('tableB.csv',key='id')

In [200]:
# get attribute list
attr_A= list(A.get_attr_names())
attr_B= list(B.get_attr_names())

In [201]:
# partition table into 2 based on whether attributes have NaN value
# return 2 tables in mg.MTable format
def partitionTable(table,attr):
    if type(table[attr][0]) != str:
        t1= table[~np.isnan(table[attr])]
        t2= table[np.isnan(table[attr])]
    else:
        t1= table[table[attr]!='']
        t2= table[table[attr]=='']        
    t1= mg.MTable(t1,key='id')
    t2= mg.MTable(t2,key='id')
    return t1, t2

In [207]:
# get partitioned table A based on zipcode
# A1 is the table with zipcode
# A2 is the table without zipcode
A1, A2= partitionTable(A,attr_A[5])

In [218]:
# Attribute equivalence blocking: block A1 and B using zipcode
ab = mg.AttrEquivalenceBlocker()
C1 = ab.block_tables(A1, B, attr_A[5], attr_B[5],
                    l_output_attrs=[attr_A[1],attr_A[2],attr_A[3],attr_A[4],attr_A[5]],
                    r_output_attrs=[attr_B[1],attr_B[2],attr_B[3],attr_B[4],attr_B[5]])

In [219]:
# Attribute equivalence blocking: block A2 and B using city
ab = mg.AttrEquivalenceBlocker()
C2 = ab.block_tables(A2, B, attr_A[3], attr_B[3],
                    l_output_attrs=[attr_A[1],attr_A[2],attr_A[3],attr_A[4]],
                    r_output_attrs=[attr_B[1],attr_B[2],attr_B[3],attr_B[4]])

In [227]:
# union tables C1 and C2 to C3
# The following is a hack -- this will work because A1 and A2 are strict subsets of A.
# set ltable to be A for C1 and C2
C1.set_property('ltable', A)
C2.set_prop



C3= mg.combine_block_outputs_via_union([C1,C2])

AssertionError: Candidate set list contains different left tables