In [1]:
import sys
sys.path.append('/scratch/pradap/python-work/enrique/')
#sys.path.append('C:/Pradap/Research/Python-Packages/enrique')
#sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

In [2]:
import jpype

In [4]:
p = jpype.getDefaultJVMPath()

In [8]:
p1 = p.split("/")

In [10]:
x = []
for t in p1:
    if t == 'client':
        t = 'server'
    elif t == 'server':
        r = 'client'
    x.append(t)
"/".join(x)

'/scratch/pradap/local/share/jdk1.7.0_25/jre/lib/amd64/server/libjvm.so'

In [11]:
filename = raw_input('Enter a file name: ')

Enter a file name: muruga saranam

In [15]:
mg.get_install_path()

'/scratch/pradap/python-work/enrique/magellan'

In [14]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

In [4]:
mg._global_tokenizers

,function_name,short_name
0,tok_qgram,qgm
1,tok_delim,dlm

In [5]:
mg.get_single_arg_tokenizers()

{'dlm_dc0': <function magellan.feature.tokenizers.tok_delim>,
 'qgm_2': <function magellan.feature.tokenizers.tok_qgram>,
 'qgm_3': <function magellan.feature.tokenizers.tok_qgram>}

In [11]:
mg.get_attr_types(A)

{'ID': 'str_eq_1w',
 '_m_table':    ID              name  birth_year  hourly_wage  \
 0  a1       Kevin Smith        1989         30.0
 1  a2  Michael Franklin        1988         27.5
 2  a3    William Bridge        1986         32.0
 3  a4      Binto George        1987         32.5
 4  a5   Alphonse Kemper        1984         35.0

                            address  zipcode
 0       607 From St, San Francisco    94107
 1  1652 Stockton St, San Francisco    94122
 2   3131 Webster St, San Francisco    94107
 3     423 Powell St, San Francisco    94122
 4  1702 Post Street, San Francisco    94122  ,
 'address': 'str_bt_1w_5w',
 'birth_year': 'numeric',
 'hourly_wage': 'numeric',
 'name': 'str_bt_1w_5w',
 'zipcode': 'numeric'}

In [13]:
d = mg.get_attr_corres(A, B)

In [14]:
d['corres']

[('ID', 'ID'),
 ('name', 'name'),
 ('birth_year', 'birth_year'),
 ('hourly_wage', 'hourly_wage'),
 ('address', 'address'),
 ('zipcode', 'zipcode')]

In [10]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

In [5]:
import jpype

In [6]:
jpype.getDefaultJVMPath()

'/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Libraries/libjvm.dylib'

In [7]:
#mg.init_jvm('C:\\Program Files\\Java\\jre7\\bin\\server\\jvm.dll')
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

In [8]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

In [9]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

In [10]:
feature_table = mg.get_features_for_blocking(A, B)
rm = mg.BooleanRuleMatcher()
rm.add_rule(["birth_year_birth_year_exm(ltuple, rtuple) > 0.9", "hourly_wage_hourly_wage_exm(ltuple, rtuple) < 0"], feature_table)
rm.add_rule(['name_name_swg(ltuple, rtuple) > 0.3'], feature_table)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

True

In [12]:
import dill as pickle

In [15]:
import pandas as pd

In [26]:
g = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
r = [1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0]

In [28]:
C['predicted_label'] = r

In [29]:
C['gold_label'] = g

In [30]:
r = C['predicted_label']

In [31]:
g = C['gold_label']

In [49]:
r1 = r[r == 1].index.values

In [45]:
g1 = g[g==1].index.values

In [41]:
r0 = r[r == 1].index.values
g0 = g[g == 1].index.values

In [47]:
gs = set(g1)

In [51]:
import numpy as np

In [55]:
D = C.set_index(['ltable.ID', 'rtable.ID'], drop = False)

In [58]:
list(D.ix[np.array(list(gs.difference(r1)))].index.values)

[('a2', 'b4'), ('a2', 'b5')]