In [1]:
#%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py
%load_ext autotime

In [2]:
import magellan as mg

time: 444 ms

In [3]:
#load datasets
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.29 ms

In [4]:
# initialize JVM : required for sim functions and tokenizers
mg.init_jvm()

True

time: 63.4 ms

In [5]:
# do attr equiv blocking over zipcode
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

time: 13.7 ms

In [7]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

time: 22.9 ms

In [8]:
E = ab.block_tables(A, B, 'hourly_wage', 'hourly_wage', l_output_attrs=['birth_year'], r_output_attrs=['birth_year'])

time: 11.1 ms

In [9]:
E

,_id,ltable.ID,rtable.ID,ltable.birth_year,rtable.birth_year
0,0,a2,b3,1988,1988
1,1,a3,b2,1986,1986
2,2,a4,b6,1987,1987
3,3,a5,b5,1984,1984

time: 7.89 ms

In [10]:
D = ab.block_candset(C, 'birth_year', 'birth_year')

time: 8.83 ms

In [11]:
D

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

time: 11.6 ms

In [12]:
F = mg.combine_block_outputs_via_union([C, D])

time: 24.9 ms

In [13]:
F

,_id,ltable.ID,rtable.ID,ltable.hourly_wage,ltable.name,ltable.zipcode,rtable.hourly_wage,rtable.name,rtable.zipcode
0,0,a5,b3,35.0,Alphonse Kemper,94122,27.5,Mike Franklin,94122
1,1,a3,b2,32.0,William Bridge,94107,32.0,Bill Bridge,94107
2,2,a4,b3,32.5,Binto George,94122,27.5,Mike Franklin,94122
3,3,a2,b4,27.5,Michael Franklin,94122,26.0,Joseph Kuan,94122
4,4,a2,b5,27.5,Michael Franklin,94122,35.0,Alfons Kemper,94122
5,5,a1,b2,30.0,Kevin Smith,94107,32.0,Bill Bridge,94107
6,6,a1,b1,30.0,Kevin Smith,94107,29.5,Mark Levene,94107
7,7,a4,b5,32.5,Binto George,94122,35.0,Alfons Kemper,94122
8,8,a4,b4,32.5,Binto George,94122,26.0,Joseph Kuan,94122
9,9,a3,b6,32.0,William Bridge,94107,32.5,Michael Brodie,94107
10,10,a2,b3,27.5,Michael Franklin,94122,27.5,Mike Franklin,94122
11,11,a3,b1,32.0,William Bridge,94107,29.5,Mark Levene,94107
12,12,a5,b5,35.0,Alphonse Kemper,94122,35.0,Alfons Kemper,94122
13,13,a1,b6,30.0,Kevin Smith,94107,32.5,Michael Brodie,94107
14,14,a5,b4,35.0,Alphonse Kemper,94122,26.0,Joseph Kuan,94122

time: 22.8 ms

In [14]:
S = mg.sample_one_table(F, 13)

time: 1.98 ms

In [15]:
L = mg.label(S, 'gold_label')

time: 16.8 s

In [25]:
feat_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

time: 8.2 ms

In [17]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x7fa91c083848>,from magellan.feature.simfunctions import *\nf...
1,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x7fa91...,from magellan.feature.simfunctions import *\nf...
2,name_name_jac_qgm_2_qgm_3,name,name,qgm_2,qgm_3,jaccard,<function name_name_jac_qgm_2_qgm_3 at 0x7fa91...,from magellan.feature.simfunctions import *\nf...
3,birth_year_birth_year_rdf,birth_year,birth_year,None,None,rel_diff,<function birth_year_birth_year_rdf at 0x7fa91...,from magellan.feature.simfunctions import *\nf...
4,hourly_wage_hourly_wage_rdf,hourly_wage,hourly_wage,None,None,rel_diff,<function hourly_wage_hourly_wage_rdf at 0x7fa...,from magellan.feature.simfunctions import *\nf...
5,zipcode_zipcode_rdf,zipcode,zipcode,None,None,rel_diff,<function zipcode_zipcode_rdf at 0x7fa91c0832a8>,from magellan.feature.simfunctions import *\nf...

time: 16.7 ms

In [19]:
mg._current_tokenizers

{'dlm_dc0': <function magellan.feature.tokenizers.tok_delim>,
 'qgm_2': <function magellan.feature.tokenizers.tok_qgram>,
 'qgm_3': <function magellan.feature.tokenizers.tok_qgram>}

time: 1.47 ms

In [20]:
mg._current_sim_funs

{'exact_match': <function magellan.feature.simfunctions.exact_match>,
 'jaccard': <function magellan.feature.simfunctions.jaccard>,
 'lev': <function magellan.feature.simfunctions.lev>,
 'rel_diff': <function magellan.feature.simfunctions.rel_diff>}

time: 1.55 ms

In [21]:
r = mg.get_feature_fn("jaccard(qgm_3(ltuple['address']), qgm_3(rtuple['address']))", mg._current_sim_funs, mg._current_tokenizers)

time: 2.27 ms

In [26]:
mg.add_feature(feat_table, 'add_add_jac_qgm_3_qgm_3', r)

True

time: 31.7 ms

In [27]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x7fa922d5bd70>,from magellan.feature.simfunctions import *\nf...
1,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x7fa90...,from magellan.feature.simfunctions import *\nf...
2,name_name_jac_qgm_2_qgm_3,name,name,qgm_2,qgm_3,jaccard,<function name_name_jac_qgm_2_qgm_3 at 0x7fa90...,from magellan.feature.simfunctions import *\nf...
3,birth_year_birth_year_rdf,birth_year,birth_year,None,None,rel_diff,<function birth_year_birth_year_rdf at 0x7fa90...,from magellan.feature.simfunctions import *\nf...
4,hourly_wage_hourly_wage_rdf,hourly_wage,hourly_wage,None,None,rel_diff,<function hourly_wage_hourly_wage_rdf at 0x7fa...,from magellan.feature.simfunctions import *\nf...
5,zipcode_zipcode_rdf,zipcode,zipcode,None,None,rel_diff,<function zipcode_zipcode_rdf at 0x7fa908618398>,from magellan.feature.simfunctions import *\nf...
6,add_add_jac_qgm_3_qgm_3,address,address,qgm_3,qgm_3,jaccard,<function fn at 0x7fa908618230>,"def fn(ltuple, rtuple):\n return jaccard(qg..."

time: 16.5 ms

In [28]:
feat_table.ix[6, 'function'](A.ix[2], B.ix[3])

0.30952380952380953

time: 167 ms

In [30]:
s_prime = mg.extract_feat_vecs(L, attrs_before=['ltable.name', 'rtable.name'], feat_table=feat_table, attrs_after=['gold_label'])

time: 52.4 ms

In [31]:
s_prime

,_id,ltable.ID,rtable.ID,ltable.name,rtable.name,ID_ID_lev,name_name_jac_qgm_3_qgm_3,name_name_jac_qgm_2_qgm_3,birth_year_birth_year_rdf,hourly_wage_hourly_wage_rdf,zipcode_zipcode_rdf,add_add_jac_qgm_3_qgm_3,gold_label
0,0,a5,b3,Alphonse Kemper,Mike Franklin,0.0,0.000000,0,0,0.120000,0,0.357143,0
1,1,a4,b3,Binto George,Mike Franklin,0.0,0.000000,0,0,0.083333,0,0.421053,0
2,2,a2,b4,Michael Franklin,Joseph Kuan,0.0,0.000000,0,0,0.028037,0,0.309524,0
3,3,a2,b5,Michael Franklin,Alfons Kemper,0.0,0.000000,0,0,0.120000,0,0.333333,0
4,4,a1,b2,Kevin Smith,Bill Bridge,0.0,0.000000,0,0,0.032258,0,0.457143,0
5,5,a1,b1,Kevin Smith,Mark Levene,0.5,0.000000,0,0,0.008403,0,0.470588,0
6,6,a4,b5,Binto George,Alfons Kemper,0.0,0.000000,0,0,0.037037,0,0.380952,0
7,7,a4,b4,Binto George,Joseph Kuan,0.5,0.000000,0,0,0.111111,0,0.325000,0
8,8,a3,b6,William Bridge,Michael Brodie,0.0,0.043478,0,0,0.007752,0,0.340909,0
9,9,a3,b1,William Bridge,Mark Levene,0.0,0.000000,0,0,0.040650,0,0.410256,0
10,10,a5,b5,Alphonse Kemper,Alfons Kemper,0.5,0.333333,0,0,0.000000,0,0.487805,1
11,11,a1,b6,Kevin Smith,Michael Brodie,0.0,0.000000,0,0,0.040000,0,0.384615,0
12,12,a5,b4,Alphonse Kemper,Joseph Kuan,0.0,0.000000,0,0,0.147541,0,0.302326,0

time: 29.2 ms

In [32]:
nb = mg.NBMatcher()
dt = mg.DTMatcher()
rf = mg.RFMatcher()

time: 1.11 ms

In [33]:
m = mg.select_matcher([nb, dt, rf], x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'], k=5 )

time: 83.7 ms

In [34]:
mc, stats = mg.selector_matcher_combiner([nb, dt, rf], ['majority'], x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'], k=5)

time: 169 ms

In [39]:
stats

,matcher,mean score,name
0,<magellan.matcher.nbmatcher.NBMatcher object a...,0.933333,NaiveBayes
1,<magellan.matcher.dtmatcher.DTMatcher object a...,0.933333,DecisionTree
2,<magellan.matcher.rfmatcher.RFMatcher object a...,0.933333,RandomForest
3,<magellan.matcher.ensemblematcher.EnsembleMatc...,0.933333,"NaiveBayes,DecisionTree"
4,<magellan.matcher.ensemblematcher.EnsembleMatc...,0.933333,"NaiveBayes,RandomForest"
5,<magellan.matcher.ensemblematcher.EnsembleMatc...,0.933333,"DecisionTree,RandomForest"
6,<magellan.matcher.ensemblematcher.EnsembleMatc...,0.933333,"NaiveBayes,DecisionTree,RandomForest"

time: 8.83 ms

In [35]:
mc.fit(x=s_prime[list(feat_table['feature_name'])], y=s_prime['gold_label'])

time: 14.5 ms

In [36]:
c_prime = mg.extract_feat_vecs(F, attrs_before=['ltable.name', 'rtable.name'], feat_table=feat_table)

time: 55.8 ms

In [38]:
mc.predict(x=c_prime[list(feat_table['feature_name'])])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

time: 4.65 ms