In [1]:
%load_ext autotime

In [3]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

time: 1.2 ms

In [4]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened
DEBUG:Cloud:Deleting 1003.lock (7.00039973211 days old)
DEBUG:Cloud:Deleting 1003.log (7.00039973211 days old)
DEBUG:Cloud:Deleting 926.lock (7.00653399137 days old)
DEBUG:Cloud:Deleting 926.log (7.00653399137 days old)
DEBUG:Cloud:Deleting 951.lock (7.0048210284 days old)
DEBUG:Cloud:Deleting 951.log (7.0048210284 days old)
DEBUG:Cloud:Deleting 984.lock (7.00068908396 days old)
DEBUG:Cloud:Deleting 984.log (7.00068908396 days old)

time: 1.72 s

In [33]:
A = mg.read_csv('anime-planet.csv', key = 'ID', dtype={'Year':pd.np.str})

time: 40.9 ms

In [34]:
B = mg.read_csv('myanimelist.csv', key = 'ID')

time: 32.3 ms

In [35]:
A.head()

,ID,Title,Episodes,Producers,Genres,Type,Year,Rating
0,0,Kidou Senshi Gundam 00 Second Season,25,Sunrise,"['Futuristic', 'Mecha', 'Sci Fi']",TV,2008,4.39
1,1,Gundam 00 Second Season,25,Sunrise,"['Futuristic', 'Mecha', 'Sci Fi']",TV,2008,4.39
2,2,Mobile Suit Gundam 00 Second Season,25,Sunrise,"['Futuristic', 'Mecha', 'Sci Fi']",TV,2008,4.39
3,3,One Outs,25,MADHOUSE,"['Baseball', 'Based on a Manga', 'High Stakes ...",TV,2008,4.39
4,4,Kara no Kyoukai Movie 4: Garan no Dou,1,ufotable,"['Based on a Light Novel', 'Mystery', 'Superna...",Movie,2008,4.38

time: 14.2 ms

In [36]:
B.head()

,ID,Title,Episodes,Producers,Genres,Type,Year,Rating
0,0,Detective Conan Movie 04: Captured in Her Eyes,1,"['TMS Entertainment', 'FUNimation Entertainmen...","['Adventure', 'Comedy', 'Mystery', 'Police', '...",Movie,2000,8.19
1,1,Hidamari Sketch: Sae Hiro Sotsugyou-hen,2,['Shaft'],"['Comedy', 'School', 'Slice of Life']",OVA,2013,8.20
2,2,Toaru Kagaku no Railgun S,24,"['J.C.Staff', 'Geneon Universal Entertainment'...","['Action', 'Fantasy', 'Sci-Fi', 'Super Power']",TV,2013,8.21
3,3,Tamako Love Story,1,['Kyoto Animation'],"['Comedy', 'Romance', 'Slice of Life']",Movie,2014,8.21
4,4,Working!!!,13,"['Aniplex', 'A-1 Pictures', 'Aniplex of America']","['Comedy', 'Slice of Life']",TV,2015,8.21

time: 17.2 ms

In [37]:
ab = mg.AttrEquivalenceBlocker()

time: 1.01 ms

In [38]:
C = ab.block_tables(A, B, l_block_attr = 'Year',
                    r_block_attr = 'Year', 
                    l_output_attrs = ['Title','Year'], 
                    r_output_attrs = ['Title','Year'])

time: 3.43 s

In [39]:
C.head()

,_id,ltable.ID,rtable.ID,ltable.Title,ltable.Year,rtable.Title,rtable.Year
0,0,0,10,Kidou Senshi Gundam 00 Second Season,2008,Prince of Tennis: The National Tournament Finals,2008
1,1,0,13,Kidou Senshi Gundam 00 Second Season,2008,"Clannad: Mou Hitotsu no Sekai, Tomoyo-hen",2008
2,2,0,18,Kidou Senshi Gundam 00 Second Season,2008,Major: Yuujou no Ikkyuu,2008
3,3,0,34,Kidou Senshi Gundam 00 Second Season,2008,Junjou Romantica,2008
4,4,0,51,Kidou Senshi Gundam 00 Second Season,2008,Junjou Romantica 2,2008

time: 70.3 ms

In [40]:
len(C)

1528003

time: 1.75 ms

In [45]:
D = ab.block_candset(C, 'Episodes', 'Episodes')

0%                          100%
[##############################] | ETA[sec]: 0.000

time: 2min 19s

Total time elapsed: 138.315 sec

In [46]:
D.head()

,_id,ltable.ID,rtable.ID,ltable.Title,ltable.Year,rtable.Title,rtable.Year
13,13,0,205,Kidou Senshi Gundam 00 Second Season,2008,Toradora!,2008
15,15,0,238,Kidou Senshi Gundam 00 Second Season,2008,One Outs,2008
21,21,0,301,Kidou Senshi Gundam 00 Second Season,2008,Skip Beat!,2008
22,22,0,307,Kidou Senshi Gundam 00 Second Season,2008,Code Geass: Hangyaku no Lelouch R2,2008
26,26,0,364,Kidou Senshi Gundam 00 Second Season,2008,Mobile Suit Gundam 00 Second Season,2008

time: 13.5 ms

In [47]:
len(D)

291972

time: 1.87 ms