In [1]:
import cython

In [2]:
%load_ext Cython
%load_ext autotime

In [3]:
import sys
sys.path.append('/Users/Pradap/Documents/Research/Python-Package/enrique/')
#sys.path.append('/scratch/pradap/python-work/enrique/')
import magellan as mg
import re, string

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 442 ms

In [4]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')
#mg.init_jvm()

True

time: 135 ms

In [5]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 7.66 ms

In [6]:
ob = mg.OverlapBlocker()

time: 1.34 ms

In [7]:
C = ob.block_tables(A, B, 'address', 'address', l_output_attrs=['name'], r_output_attrs=['name'], overlap_size=4)

Creating inverted index
Done
time: 114 ms

In [8]:
C

   _id ltable.ID rtable.ID       ltable.name    rtable.name
0    0        a2        b3  Michael Franklin  Mike Franklin
0    1        a3        b2    William Bridge    Bill Bridge

time: 11.9 ms

In [9]:
D = mg.debug_blocker(A, B, C)

time: 46.2 ms

In [10]:
D

,_id,similarity,ltable.ID,rtable.ID,ltable.name,rtable.name,ltable.address,rtable.address
0,0,0.467742,a5,b5,Alphonse Kemper,Alfons Kemper,"1702 Post Street, San Francisco","170 Post St, Apt 4, San Francisco"
1,1,0.321429,a1,b3,Kevin Smith,Mike Franklin,"607 From St, San Francisco","1652 Stockton St, San Francisco"
2,2,0.313433,a2,b6,Michael Franklin,Michael Brodie,"1652 Stockton St, San Francisco","133 Clement Street, San Francisco"
3,3,0.300000,a5,b6,Alphonse Kemper,Michael Brodie,"1702 Post Street, San Francisco","133 Clement Street, San Francisco"
4,4,0.295082,a4,b2,Binto George,Bill Bridge,"423 Powell St, San Francisco","3131 Webster St, San Francisco"
5,5,0.275862,a1,b1,Kevin Smith,Mark Levene,"607 From St, San Francisco","108 Clement St, San Francisco"
6,6,0.271186,a1,b2,Kevin Smith,Bill Bridge,"607 From St, San Francisco","3131 Webster St, San Francisco"
7,7,0.258065,a4,b3,Binto George,Mike Franklin,"423 Powell St, San Francisco","1652 Stockton St, San Francisco"
8,8,0.258065,a4,b1,Binto George,Mark Levene,"423 Powell St, San Francisco","108 Clement St, San Francisco"
9,9,0.246154,a2,b1,Michael Franklin,Mark Levene,"1652 Stockton St, San Francisco","108 Clement St, San Francisco"
10,10,0.242424,a3,b1,William Bridge,Mark Levene,"3131 Webster St, San Francisco","108 Clement St, San Francisco"
11,11,0.242424,a2,b2,Michael Franklin,Bill Bridge,"1652 Stockton St, San Francisco","3131 Webster St, San Francisco"
12,12,0.242424,a3,b3,William Bridge,Mike Franklin,"3131 Webster St, San Francisco","1652 Stockton St, San Francisco"
13,13,0.237288,a1,b4,Kevin Smith,Joseph Kuan,"607 From St, San Francisco","108 South Park, San Francisco"
14,14,0.235294,a5,b1,Alphonse Kemper,Mark Levene,"1702 Post Street, San Francisco","108 Clement St, San Francisco"
15,15,0.231884,a4,b5,Binto George,Alfons Kemper,"423 Powell St, San Francisco","170 Post St, Apt 4, San Francisco"
16,16,0.231884,a5,b2,Alphonse Kemper,Bill Bridge,"1702 Post Street, San Francisco","3131 Webster St, San Francisco"
17,17,0.227273,a1,b6,Kevin Smith,Michael Brodie,"607 From St, San Francisco","133 Clement Street, San Francisco"
18,18,0.227273,a1,b5,Kevin Smith,Alfons Kemper,"607 From St, San Francisco","170 Post St, Apt 4, San Francisco"
19,19,0.219178,a3,b6,William Bridge,Michael Brodie,"3131 Webster St, San Francisco","133 Clement Street, San Francisco"
20,20,0.219178,a3,b5,William Bridge,Alfons Kemper,"3131 Webster St, San Francisco","170 Post St, Apt 4, San Francisco"
21,21,0.217391,a5,b3,Alphonse Kemper,Mike Franklin,"1702 Post Street, San Francisco","1652 Stockton St, San Francisco"
22,22,0.214286,a4,b6,Binto George,Michael Brodie,"423 Powell St, San Francisco","133 Clement Street, San Francisco"
23,23,0.212121,a2,b4,Michael Franklin,Joseph Kuan,"1652 Stockton St, San Francisco","108 South Park, San Francisco"
24,24,0.205479,a2,b5,Michael Franklin,Alfons Kemper,"1652 Stockton St, San Francisco","170 Post St, Apt 4, San Francisco"
25,25,0.203125,a4,b4,Binto George,Joseph Kuan,"423 Powell St, San Francisco","108 South Park, San Francisco"
26,26,0.191176,a3,b4,William Bridge,Joseph Kuan,"3131 Webster St, San Francisco","108 South Park, San Francisco"
27,27,0.185714,a5,b4,Alphonse Kemper,Joseph Kuan,"1702 Post Street, San Francisco","108 South Park, San Francisco"

time: 71 ms

In [11]:
F = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

time: 15.1 ms

In [12]:
F

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x120ae5230>,from magellan.feature.simfunctions import *\nf...
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x120ae5a28>,from magellan.feature.simfunctions import *\nf...
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x120ae5aa0>,from magellan.feature.simfunctions import *\nf...
3,ID_ID_sdx,ID,ID,None,None,soundex,<function ID_ID_sdx at 0x120ae5b18>,from magellan.feature.simfunctions import *\nf...
4,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x120ae5b90>,from magellan.feature.simfunctions import *\nf...
5,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x120ae5c08>,from magellan.feature.simfunctions import *\nf...
6,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x120ae...,from magellan.feature.simfunctions import *\nf...
7,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...
8,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...
9,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x120ae5de8>,from magellan.feature.simfunctions import *\nf...
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x120ae5e60>,from magellan.feature.simfunctions import *\nf...
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x120ae5ed8>,from magellan.feature.simfunctions import *\nf...
12,name_name_swg,name,name,None,None,smith_waterman_gotoh,<function name_name_swg at 0x120ae5f50>,from magellan.feature.simfunctions import *\nf...
13,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x120b2...,from magellan.feature.simfunctions import *\nf...
14,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x120b2...,from magellan.feature.simfunctions import *\nf...
15,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x120b2...,from magellan.feature.simfunctions import *\nf...
16,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x120...,from magellan.feature.simfunctions import *\nf...
17,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x120...,from magellan.feature.simfunctions import *\nf...
18,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x120...,from magellan.feature.simfunctions import *\nf...
19,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x120b26320>,from magellan.feature.simfunctions import *\nf...
20,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x120b26398>,from magellan.feature.simfunctions import *\nf...
21,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x120b26410>,from magellan.feature.simfunctions import *\nf...

time: 63.6 ms

In [13]:
def bb_fn(ltuple, rtuple):
    return 0.5

time: 3.7 ms

In [14]:
mg.add_blackbox_feature('bb_fn', bb_fn, F)

True

time: 99.6 ms

In [21]:
d = F.ix[22].to_dict()

time: 1.19 ms

In [23]:
d['function'](1, 2)

0.5

time: 2.67 ms