In [1]:
import sys
#sys.path.append('/scratch/pradap/python-work/enrique/')
#sys.path.append('C:/Pradap/Research/Python-Packages/enrique')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/enrique/')

In [2]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

In [3]:
def fn1():
    import numpy as np
    print 'Saranam'
    x = [1, 2, 3]
    n = np.array(x)
    mg.save_object(n, 'pp')
    print n
    
def fn():
    print "Muruga"
    fn1()
    pp = mg.load_object('pp')
    print pp

In [19]:
def my_feature(ltuple, rtuple):
    print "This is my feature"
    print "returning 0.7"
    return 0.5

In [5]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

In [6]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

In [7]:
block_s = mg.get_sim_funs()
block_t = mg.get_single_arg_tokenizers()

In [8]:
atypes1 = mg.get_attr_types(A)
atypes2 = mg.get_attr_types(B)

In [9]:
block_c = mg.get_attr_corres(A, B)

In [10]:
block_f = mg.get_features(A, B, atypes1, atypes2, block_c, block_t, block_s)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

In [12]:
d = dict(zip(block_f.columns, [None]*len(block_f.columns)))

In [20]:
d['feature_name'] = 'my_feature'
d['function'] = my_feature

In [21]:
block_f.ix[22] = d

In [22]:

rm = mg.RuleBasedBlocker()
#rm.add_rule(["birth_year_birth_year_exm(ltuple, rtuple) > 0.9", "hourly_wage_hourly_wage_exm(ltuple, rtuple) < 0"], feature_table)
rm.add_rule(['my_feature(ltuple, rtuple) < 0.3'], block_f)

True

In [23]:
rm.block_tables(A, B)

This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6
This is my feature
returning 0.6

    _id ltable.ID rtable.ID
0     0        a1        b1
1     1        a1        b2
2     2        a1        b3
3     3        a1        b4
4     4        a1        b5
5     5        a1        b6
6     6        a2        b1
7     7        a2        b2
8     8        a2        b3
9     9        a2        b4
10   10        a2        b5
11   11        a2        b6
12   12        a3        b1
13   13        a3        b2
14   14        a3        b3
15   15        a3        b4
16   16        a3        b5
17   17        a3        b6
18   18        a4        b1
19   19        a4        b2
20   20        a4        b3
21   21        a4        b4
22   22        a4        b5
23   23        a4        b6
24   24        a5        b1
25   25        a5        b2
26   26        a5        b3
27   27        a5        b4
28   28        a5        b5
29   29        a5        b6

In [17]:
import numpy as np

In [18]:
print n

NameError: name 'n' is not defined